@import "../lib.less";

.veui-button-group {
  display: inline-block;
  border-radius: 2px;

  .veui-button {
    position: relative;
    z-index: 0;
    margin-left: -1px;
    border-radius: 0;

    &:first-child {
      margin-left: 0;
      .border-left-radius(2px);
    }

    &:last-child {
      .border-right-radius(2px);
    }

    &:hover,
    &:focus {
      &:not(.veui-disabled) {
        z-index: 2;
      }
    }

    &:hover {
      .veui-shadow(none);
    }

    &[ui] {
      &,
      &:hover,
      &:focus {
        .veui-shadow(none);
      }
    }

    &[ui~="primary"],
    &[ui~="alt"] {
      border: none;
      border-right: 1px solid;
      border-left: 1px solid;

      &:first-child {
        border-left-color: transparent;
      }

      &:last-child {
        border-right-color: transparent;
      }
    }

    &[ui~="primary"] {
      border-color: @veui-theme-color-hover;
    }

    &[ui~="alt"] {
      border-color: @veui-gray-color-sup-4;
    }
  }

  &[ui~="alt"] {
    .veui-shadow();
  }

  &-disabled {
    .veui-button {
      &[ui~="primary"] {
        &,
        &:hover {
          border-color: @veui-gray-color-sup-2;
        }
      }
    }

    &[ui~="alt"] {
      .veui-shadow(none);
    }
  }
}
