@import "../lib.less";

.veui-button {
  padding: 0 20px;
  min-width: 70px;
  border: 1px solid @veui-theme-color-primary;
  background-color: #fff;
  color: @veui-theme-color-primary;
  border-radius: 2px;
  user-select: none;
  vertical-align: middle;
  .veui-button-transition();

  &:not(.veui-button-loading) {
    &:focus {
      .veui-shadow(glow, @veui-theme-color-primary);
    }

    &:hover,
    &:active {
      border-color: @veui-theme-color-hover;
      color: @veui-theme-color-hover;
    }

    &:hover {
      .veui-shadow(extend);
    }

    &:active {
      background-color: @veui-theme-color-sup-4;
      .veui-shadow(none);
    }
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;

    &:not(.veui-button-loading) {
      border: none;
      background-color: @veui-gray-color-sup-3;
      color: @veui-text-color-weak;
      .veui-shadow(none);
    }
  }

  &.veui-button-loading {
    cursor: default;
  }

  &[ui~="aux"] {
    border-color: @veui-gray-color-sup-1;
    color: @veui-text-color-normal;

    &:not(.veui-button-loading) {
      &:focus {
        color: @veui-theme-color-primary;
        .veui-shadow(none);
      }

      &:hover,
      &:active {
        border-color: @veui-gray-color-sup-1;
        color: @veui-text-color-strong;
      }

      &:hover {
        background-color: #fff;
      }

      &:active {
        background-color: @veui-gray-color-sup-4;
      }

      &:disabled,
      &.veui-disabled {
        background-color: @veui-gray-color-sup-3;
        color: @veui-text-color-weak;
      }
    }
  }

  &[ui~="primary"] {
    background-color: @veui-theme-color-primary;
    color: #fff;
    .veui-shadow();

    &:not(.veui-button-loading) {
      &:focus {
        border-color: @veui-theme-color-hover;
        background-color: @veui-theme-color-hover;
        color: #fff;
        .veui-shadow(none);
      }

      &:hover,
      &:active {
        border-color: @veui-theme-color-hover;
        background-color: @veui-theme-color-hover;
        color: #fff;
        .veui-shadow(strong);
      }

      &:active {
        border-color: @veui-theme-color-active;
        background-color: @veui-theme-color-active;
        .veui-shadow(none);
      }

      &:disabled {
        background-color: @veui-gray-color-sup-1;
        color: #fff;
        .veui-shadow(none);
      }
    }
  }

  &[ui~="alt"] {
    background-color: @veui-gray-color-sup-3;
    border-color: @veui-gray-color-sup-3;
    color: @veui-text-color-normal;
    .veui-shadow();

    &:not(.veui-button-loading) {
      .veui-button-alt();
    }
  }

  &[ui~="link"] {
    min-width: auto;
    height: auto;
    border: none;
    padding: 0;
    background: transparent;
    color: @veui-theme-color-primary;
    .veui-shadow(none);

    &:hover {
      color: @veui-theme-color-hover;
    }

    &:active {
      color: @veui-theme-color-active;
    }

    &[ui~="alert"] {
      color: @veui-alert-color-primary;

      &:hover {
        color: @veui-alert-color-hover;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background: none;
      .veui-shadow(none);
    }

    &:disabled:not(.veui-button-loading) {
      &,
      &:hover {
        background: transparent;
        color: @veui-text-color-weak;
      }
    }
  }

  &[ui~="large"] {
    .centered-line(@veui-height-large);
    font-size: @veui-font-size-large;
    .make-height(@veui-height-large);
  }

  &[ui~="small"] {
    .centered-line(@veui-height-small);
    font-size: @veui-font-size-small;
    .make-height(@veui-height-small);
  }

  &[ui~="tiny"] {
    min-width: auto;
    .centered-line(@veui-height-tiny);
    .make-height(@veui-height-tiny);
    padding: 0 10px;
    font-size: @veui-font-size-small;
  }

  &[ui~="round"] {
    border-radius: 50%;
  }

  &[ui~="round"],
  &[ui~="square"] {
    width: @veui-height-normal;
    min-width: auto;
    .padding(_, 0);
    text-align: center;

    &[ui~="large"] {
      width: @veui-height-large;
    }

    &[ui~="small"] {
      width: @veui-height-small;
    }

    &[ui~="tiny"] {
      width: @veui-height-tiny;
    }
  }

  .veui-icon {
    max-width: 1em;
    & + .veui-button-loading-text {
      margin-left: 5px;
    }
  }

  .make-height(@button-height) {
    height: @button-height;
    line-height: @button-height - 2px;

    & > .veui-icon {
      vertical-align: top;
      @height: @button-height / 2 - 1;
      margin-top: ~"calc(@{height} - 0.5em)";
    }
  }
  .make-height(@veui-height-normal);
}

.veui-button-loading-text {
  vertical-align: top;

  [ui~="round"] > &,
  [ui~="square"] > & {
    display: none;
  }
}
