@import "../lib.less";

.veui-checkbox-group {
  height: @veui-height-normal;
  line-height: @veui-height-normal - 1;

  .veui-checkbox {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &[ui~="small"] {
    height: @veui-height-small;
    line-height: @veui-height-small - 1;
  }

  &[ui~="large"] {
    height: @veui-height-large;
    line-height: @veui-height-large - 1;
  }
}
