@import "../lib.less";

.veui-confirm-box .veui-dialog-content {
  &-foot {
    padding: 30px 20px;
    text-align: center;
  }

  &-head {
    padding: 20px 20px 0;
    font-size: 16px;
    line-height: 1;
    height: auto;
  }

  &-body {
    padding-top: 30px;
  }
}
