@import "../lib.less";

.veui-radio-group {
  height: @veui-height-normal;
  line-height: @veui-height-normal - 1;

  &[ui~="small"] {
    height: @veui-height-small;
    line-height: @veui-height-small - 1;
  }

  &[ui~="large"] {
    height: @veui-height-large;
    line-height: @veui-height-large - 1;
  }
}
