@import "../lib.less";

.veui-toast {
  .veui-toast-style(@color, @shadow-color) {
    color: @color;
    border: 1px solid fadeOut(@color, 50%);
    box-shadow: 0 1px 4px fadeOut(@shadow-color, 80%);
  }

  position: absolute;
  padding: 14px 30px;
  max-width: 800px;
  background-color: #fff;
  border-radius: 2px;
  transition: opacity .3s, top .3s, transform .3s;

  span {
    display: inline-block;
  }

  &-message {
    margin-left: 35px;
  }

  &-icon {
    .absolute(50%, _, _, 30px);
    transform: translateY(-50%);
  }

  &-success {
    .veui-toast-style(@veui-success-color-primary, @veui-success-color-hover);
  }

  &-warning {
    .veui-toast-style(@veui-warning-color-primary, @veui-warning-color-hover);
  }

  &-info {
    .veui-toast-style(@veui-info-color-secondary, @veui-info-color-primary);
    color: @veui-info-color-primary;
  }

  &-error {
    .veui-toast-style(@veui-alert-color-primary, @veui-alert-color-hover);
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
