@import "../lib.less";

.veui-radio-group {
  .veui-radio {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    .veui-field > & {
      line-height: @veui-height-normal;

      .veui-radio-box {
        vertical-align: text-top;
      }
    }
  }
}
