@import "../lib.less";

.veui-select-panel {
  display: inline-block;
  overflow: hidden;
  min-width: 230px;
  height: 358px;
  border: 1px solid @veui-gray-color-6;

  &-title {
    .centered-line(36px);
    margin: 10px 20px;
    color: @veui-text-color-strong;
    font-size: @veui-font-size-normal;
  }

  .veui-searchbox {
    .margin(0, 20px, 8px);
    width: ~"calc(100% - 40px)";
  }

  &-no-data {
    color: @veui-text-color-aux;
    margin: 12px 20px 0;
  }

  &-content {
    height: ~"calc(100% - 56px)";

    &-main {
      height: ~"calc(100% - 44px)";
      overflow-y: auto;
    }
  }
}
