@import "../lib.less";

.veui-transfer {
  .clearfix();
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;

  @item-height: 36px;
  .center-icon(@line-height: @item-height) {
    @height: (@line-height) / 2;
    margin-top: ~"calc(@{height} - .5em)";
    vertical-align: top;
  }

  .veui-filter-panel {
    float: left;
  }

  &-candidate-panel {
    margin-right: 20px;
  }

  .veui-filter-panel-content-main {
    position: relative;
  }

  .veui-tree {
    &-item {
      padding: 0 20px;
      cursor: pointer;
      color: @veui-text-color-normal;

      &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        height: @item-height;
      }

      &:hover::before {
        background: @veui-gray-color-8;
      }

      &:active::before {
        background: @veui-gray-color-6;
      }

      &-label {
        width: ~"calc(100% - 18px)";
      }

      .veui-transfer-item-text,
      .veui-icon {
        position: relative;
        z-index: 1;
      }

      &-selected .veui-tree-item-label {
        color: @veui-text-color-weak;
      }
    }
  }

  &-item-text {
    .ellipsis();
    max-width: 150px;
    float: left;
  }

  &-item-label {
    .clearfix();
  }

  &-candidate-icon-selected,
  &-candidate-icon-unselected,
  &-selected-icon-remove {
    float: right;
    .center-icon();
    display: none;
  }

  &-selected-icon-remove {
    .size(12px);
  }

  .veui-tree-item:hover {
    .veui-transfer-candidate-icon-selected,
    .veui-transfer-candidate-icon-unselected,
    .veui-transfer-selected-icon-remove {
      display: block;
    }
  }

  &-candidate-item-label-selected {
    color: @veui-text-color-aux;
  }

  &-select-all,
  &-remove-all {
    float: right;
  }

  &-selected-flat {
    min-width: 350px;

    .veui-tree-item {
      position: relative;

      &::before {
        content: none;
      }

      &:hover {
        background: @veui-gray-color-8;
      }

      &:active {
        background: @veui-gray-color-6;
      }
    }

    &-option-separator {
      display: inline-block;
      line-height: 1;
      overflow: hidden;
      .size(1em);
      .center-icon();
    }

    .veui-tree-item {
      line-height: 22px;
      height: auto;
      position: relative;
      padding: 0 54px 0 20px;
    }

    .veui-transfer-item-label {
      padding: 7px 0;
    }

    &-option-separator {
      .center-icon(22px);
    }
  }

  .veui-tree-item .veui-transfer-selected-icon-remove {
    position: absolute;
  }
  &-selected-icon-remove {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    right: 20px;
  }

  &-disabled {
    .veui-tree-item:hover,
    .veui-tree-item:active {
      cursor: not-allowed;
      background: none;
    }

    .veui-tree-item-label,
    .veui-transfer-item-label {
      color: @veui-text-color-aux;
    }
  }

  .veui-field-invalid & .veui-input {
    border-color: @veui-gray-color-5;
  }
}
