{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": [
    [
      "import-peer",
      {
        "package": "veui",
        "path": "components",
        "peerPackage": "veui-theme-dux",
        "peerPath": "components",
        "peerGlobal": "common.less",
        "fileName": "${module}.less",
        "transform": "kebab-case"
      }
    ],
    "lodash",
    "transform-vue-jsx",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": false
      }
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
