._veui-grouped-button {
  &:hover,
  &.focus-ring {
    border-color: @veui-theme-color-primary;
  }

  &:active {
    background-color: @veui-theme-color-sup-5;
    border-color: @veui-theme-color-sup-5;
    color: #fff;
  }

  &.veui-button-selected {
    border: 1px solid @veui-theme-color-secondary;
    background-color: @veui-theme-color-secondary;
    color: #fff;
    z-index: 1;

    &:hover,
    &.focus-ring {
      background-color: @veui-theme-color-sup-6;
      border-color: @veui-theme-color-sup-6;
    }

    &:active {
      background-color: @veui-theme-color-sup-5;
      border-color: @veui-theme-color-sup-5;
      color: #fff;
    }
  }
}
