@import "./lib.less";

._veui-input-invalid {
  border-color: @veui-alert-color-primary;

  &:hover {
    border-color: @veui-alert-color-primary;
    .veui-shadow(glow, @veui-alert-color-primary);
  }

  &:focus {
    border-color: @veui-alert-color-primary;
    .veui-shadow(glow, @veui-alert-color-primary);
  }
}
