@import "../lib.less";

// brand color
@dls-color-brand: #4d79ff;
@dls-color-brand-0: #fff;
@dls-color-brand-1: #f2f7ff;
@dls-color-brand-2: #e3edff;
@dls-color-brand-3: #c4daff;
@dls-color-brand-4: #99beff;
@dls-color-brand-5: #729cfe;
@dls-color-brand-6: #4d79ff;
@dls-color-brand-7: #3a5bfd;
@dls-color-brand-8: #333fe6;
@dls-color-brand-9: #0f2dbd;
@dls-color-brand-10: #1c244a;
@dls-color-brand-11: #000;

// info color
@dls-color-info: @dls-color-brand;
@dls-color-info-0: @dls-color-brand-0;
@dls-color-info-1: @dls-color-brand-1;
@dls-color-info-2: @dls-color-brand-2;
@dls-color-info-3: @dls-color-brand-3;
@dls-color-info-4: @dls-color-brand-4;
@dls-color-info-5: @dls-color-brand-5;
@dls-color-info-6: @dls-color-brand-6;
@dls-color-info-7: @dls-color-brand-7;
@dls-color-info-8: @dls-color-brand-8;
@dls-color-info-9: @dls-color-brand-9;
@dls-color-info-10: @dls-color-brand-10;
@dls-color-info-11: @dls-color-brand-11;

// component height
@dls-height-xs: @dls-height-unit * 7;
@dls-height-s: @dls-height-unit * 8;
@dls-height-m: @dls-height-unit * 9;
@dls-height-l: @dls-height-unit * 10;
@dls-height-xl: @dls-height-unit * 12;
@dls-height-xxl: @dls-height-unit * 15;

// border radius
@dls-border-radius-0: 4px;
@dls-border-radius-1: 6px;
@dls-border-radius-2: 10px;
@dls-border-radius-3: 16px;
@dls-border-radius-4: 26px;

// shadow color
@dls-shadow-color: #0047c2;

// component overrides
@dls-checkbox-border-radius: @dls-border-radius-0;

// VEUI defaults
@veui-prefix: veui-ai;
