@import "~less-plugin-est/src/all.less";
@import "./variables.less";

// https://github.com/twbs/bootstrap/blob/e43f97304eac2b276c755267e29de70ae2ac7afd/scss/mixins/_screen-reader.scss#L6-L15
.veui-invisible() {
  position: absolute;
  .size(1px);
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.veui-button-transition() {
  transition-property: border-color, background-color, color, opacity;
  transition-duration: .2s;
}

.veui-position-center(@x: 50%, @y: @x) {
  .absolute(@x, _, _, @y);
  transform: translate(-@x, -@y);
}

.veui-field-require() {
  content: "*";
  float: right;
  margin-right: 9px;
  color: @veui-alert-color;
}

.veui-field-gap-error() {
  position: absolute;
  display: block;
  margin: 0;
  height: @veui-field-gap;
  line-height: @veui-field-gap;
  font-size: 12px;

  .veui-icon {
    margin-top: ~"calc(@{veui-field-gap} / 2 - .5em)";
  }
}

.veui-make-table-row-height(@font-size: @veui-font-size-normal, @half-lead: 13px, @lines: 1) {
  height: @half-lead * 2 + @font-size * @lines * 2;
}

.veui-overlay-shadow() {
  box-shadow: 0 1px 4px fadeout(#000, 80%);
}

