@import "../lib.less";

.veui-alert-box {
  .veui-dialog-content {
    width: 350px;

    &-head {
      display: none;
    }

    &-body {
      text-align: center;
      margin-top: 30px;
    }
  }

  &-icon {
    .size(30px);
  }

  &-title {
    color: @veui-text-color-strong;
    font-weight: @veui-font-weight-normal;
    .margin(20px, _, 14px);
    line-height: 1;
    font-size: @veui-font-size-large;
  }

  &-content {
    color: @veui-text-color-normal;
    font-size: @veui-font-size-normal;
  }

  &-info .veui-alert-box-icon {
    color: @veui-brand-color;
  }

  &-error .veui-alert-box-icon {
    color: @veui-alert-color;
  }

  &-success .veui-alert-box-icon {
    color: @veui-success-color;
  }
}
