@import "../lib.less";

.veui-alert {
  @success: @veui-success-color;
  @warning: @veui-warning-color;
  @info: @veui-info-color;
  @error: @veui-alert-color;

  position: relative;
  padding: 10px 20px;
  color: @veui-text-color-normal;
  display: table;
  width: 100%;
  line-height: @veui-line-height-normal;

  &-state,
  &-message,
  &-nav,
  &-close {
    display: table-cell;
  }

  &-state {
    padding-right: 36px;
    vertical-align: middle;
  }

  &-icon {
    font-size: @veui-font-size-large;
    vertical-align: middle;
  }

  .make-state-message(@state) {
    &-@{state} {
      @fg-color-name: ~"veui-@{state}-color";
      @bg-color-name: ~"veui-@{state}-color-10";
      background-color: @@bg-color-name;

      .veui-alert-icon {
        color: @@fg-color-name;
      }
    }
  }

  .make-state-message(success);
  .make-state-message(warning);
  .make-state-message(info);
  .make-state-message(error);

  &-message {
    width: 100%;
    height: 100%;
  }

  &-nav {
    &-indicator {
      .margin(_, 8px);
    }

    .veui-button,
    &-indicator {
      vertical-align: top;
      height: ~"calc(1em * @{veui-line-height-normal})";
    }
  }

  &-close,
  &-nav {
    padding-left: 20px;
    vertical-align: middle;
    white-space: nowrap;

    .veui-icon {
      font-size: @veui-font-size-small;
    }

    .veui-button {
      height: auto;
      line-height: @veui-line-height-normal;

      .veui-icon {
        margin-top: (@veui-font-size-normal * @veui-line-height-normal / @veui-font-size-small - 1) * .5em;
      }

      &:hover,
      &.focus-visible,
      &:active {
        color: @veui-gray-color-1;
      }

      &.focus-visible {
        .veui-focus-shadow(fadeout(@veui-gray-color-3, 50%));
      }
    }
  }

  &-close {
    .veui-button {
      float: left;
    }
  }

  &-close-text {
    color: @veui-brand-color;

    &:hover,
    &.focus-visible {
      color: @veui-brand-color-2;
    }

    &:active {
      color: @veui-brand-color-1;
    }
  }
}
