@import "../lib.less";

.veui-alert {
  @success: @veui-success-color;
  @warning: @veui-warning-color;
  @info: @veui-info-color;
  @error: @veui-alert-color;
  .margin(30px, _);
  position: relative;
  padding: 10px 20px;
  color: @veui-text-color-normal;

  span {
    display: inline-block;
  }

  &-icon {
    transform: translateY(-50%);
    .absolute(50%, _, _, 20px);
    font-size: @veui-font-size-large;
  }

  .make-state-message(@state) {
    &-@{state} {
      @fg-color-name: ~"veui-@{state}-color";
      @bg-color-name: ~"veui-@{state}-color-10";

      background-color: @@bg-color-name;

      .veui-alert-icon {
        color: @@fg-color-name;;
      }
    }
  }

  &-message {
    margin: 0 56px 0 36px;
  }

  .make-state-message(success);
  .make-state-message(warning);
  .make-state-message(info);
  .make-state-message(error);

  &-nav,
  &-close {
    .absolute(50%, 20px, _, _);
    transform: translateY(-50%);
  }

  &-nav {
    .veui-button:first-child,
    span {
      margin-right: 8px;
    }
  }

  &-close.veui-button,
  &-nav .veui-button {
    .veui-icon {
      font-size: @veui-font-size-small;
    }

    &:hover,
    &.focus-visible,
    &:active {
      color: @veui-gray-color-1;
    }
  }

  .veui-alert-close-text {
    color: @veui-brand-color;

    &:hover,
    &.focus-visible {
      color: @veui-brand-color-2;
    }

    &:active {
      color: @veui-brand-color-1;
    }
  }
}
