@import "../lib.less";

.veui-button-group {
  .make-size(@padding) {
    &:first-child {
      padding-right: @padding + 1px;
    }

    &:last-child {
      padding-left: @padding + 1px;
    }

    &:not(:first-child):not(:last-child) {
      .padding(_, @padding + 1px);
    }

    &[ui~="primary"],
    &[ui~="alt"] {
      &:first-child {
        padding-right: @padding;
      }

      &:last-child {
        padding-left: @padding;
      }

      &:not(:first-child):not(:last-child) {
        .padding(_, @padding);
      }
    }
  }

  display: inline-block;

  .veui-button {
    margin-left: -1px;

    &:first-child {
      margin-left: 0;
    }

    .make-size(20px);

    &:hover,
    &:focus {
      &:not(.veui-disabled) {
        position: relative;
      }
    }

    &[ui~="primary"],
    &[ui~="alt"] {
      margin: 0 0 0 1px;

      &:first-child {
        margin-left: 0;
      }
    }

    &[ui~="small"],
    &[ui~="tiny"],
    &[ui~="micro"] {
      .make-size(10px);
    }
  }

  &-disabled .veui-button {
    &,
    &[ui] {
      .border-color(_, #fff);

      &:first-child {
        border-left-color: transparent;
      }

      &:last-child {
        border-right-color: transparent;
      }
    }
  }
}
