@import "../lib.less";

.veui-dialog {
  display: none;

  &-box {
    .fixed(0);

    &:not(&-mask) {
      pointer-events: none;
    }
  }

  &-draggable {
    cursor: all-scroll;
  }

  &-content {
    .veui-position-center();
    .veui-overlay-shadow();
    background: #fff;
    position: absolute;
    width: 400px;
    max-height: 100vh;
    overflow-y: auto;
    outline: none;
    pointer-events: auto;

    .veui-dialog-box[ui~="top"] & {
      .veui-position-center(@y: 38.2%);
    }

    &-head,
    &-foot {
      padding: 0 20px;
    }

    &-head {
      .centered-line(56px);
    }

    &-head-title,
    &-head-close,
    &-head-close:hover {
      color: @veui-text-color-strong;
    }

    &-head-title {
      font-weight: @veui-font-weight-normal;
      font-size: @veui-font-size-large;
    }

    &-head-close {
      .veui-button-transition();
      outline: none;

      &,
      &:hover {
        border: none;
        background: none;
        float: right;
        .centered-line(14px);
        text-align: center;
        font-size: @veui-font-size-normal;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      &:hover,
      &:focus {
        color: @veui-brand-color;
      }
    }

    &-body {
      padding-top: 0;
      .margin(10px, 20px, 0, 20px);
    }

    &-foot {
      .padding(20px);
      text-align: center;
    }

    &-foot .veui-button {
      min-width: 94px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-box-mask {
    background-color: fade(@veui-gray-color-1, 50);
    overflow: auto;

    // 提升优先级，覆盖样式
    &,
    &[ui~="top"] {
      .fixed(0);
      transform: none;
    }
  }
}
