@import "../lib.less";

.veui-field {
  vertical-align: top;
  clear: both;

  &-required > .veui-form-label::after {
    .veui-field-require();
  }

  &-no-label::before {
    content: "";
    display: inline-block;
    width: @veui-form-label-width;
  }

  & > * {
    display: inline-block;
    vertical-align: top;
  }

  & > *:not([class*="veui-form-label"]) + * {
    margin-left: 10px;
  }

  .veui-form-label {
    height: @veui-height-normal;
    width: @veui-form-label-width;
    line-height: @veui-height-normal;
  }

  .veui-span {
    line-height: @veui-height-normal;
  }

  &-error {
    position: static;
    height: @veui-height-normal;
    line-height: @veui-height-normal;
    margin: 0 0 0 10px;
    vertical-align: top;
    color: @veui-alert-color;

    .veui-icon {
      margin-right: 7px;
    }
  }

  .veui-form-tip {
    height: @veui-height-normal;
    line-height: @veui-height-normal;
    margin-left: 10px;
    color: @veui-text-color-weak;
  }

  .veui-form-tip + .veui-field-error {
    .veui-field-gap-error();
  }

  .veui-form-label ~ .veui-form-tip + .veui-field-error {
    margin-left: @veui-form-label-width;
  }

  .veui-form-label,
  .veui-field-error,
  .veui-form-tip,
  .veui-span {
    .veui-icon {
      vertical-align: top;
      margin-top: ~"calc(@{veui-height-normal} / 2 - 0.5em)";
    }
  }

  .make-ui(@font-size, @box-size) {
    font-size: @font-size;

    .veui-form-label,
    .veui-field-error,
    .veui-form-tip,
    .veui-span {
      line-height: @box-size;

      .veui-icon {
        margin-top: ~"calc(@{box-size} / 2 - 0.5em)";
      }
    }

    .veui-form-label,
    .veui-field-error,
    .veui-form-tip {
      height: @box-size;
    }
  }

  &[ui~="large"] {
    .make-ui(@veui-font-size-large, @veui-height-large);
  }

  &[ui~="small"] {
    .make-ui(@veui-font-size-small, @veui-height-small);
  }

  &[ui~="tiny"] {
    .make-ui(@veui-font-size-small, @veui-height-tiny);
  }

  &[ui~="micro"] {
    .make-ui(@veui-font-size-small, @veui-height-micro);
  }
}
