@import "../lib.less";
@import (reference) "../dropdown.less";

.veui-option {
  &:extend(._veui-dropdown-option all);

  & &-checkmark {
    float: right;
    display: none;
  }

  [ui~="checkmark"] &-checkmark {
    @height: @veui-height-normal / 2;
    display: block;
    margin-top: ~"calc(@{height} - 0.5em)";
  }
}
