/* Theme colors */
@veui-theme-color-nav: #304ffe;
@veui-theme-color-primary: #3685ff;
@veui-theme-color-strong: shade(@veui-theme-color-primary, 20%);
@veui-theme-color-active: shade(@veui-theme-color-primary, 10%);
@veui-theme-color-hover: shade(@veui-theme-color-primary, 5%);
@veui-theme-color-secondary: tint(@veui-theme-color-primary, 40%);
@veui-theme-color-sup-1: tint(@veui-theme-color-primary, 60%);
@veui-theme-color-sup-2: tint(@veui-theme-color-primary, 70%);
@veui-theme-color-sup-3: tint(@veui-theme-color-primary, 80%);
@veui-theme-color-sup-4: tint(@veui-theme-color-primary, 90%);

/* Additional colors */
@veui-alert-color-hover: #e55252;
@veui-alert-color-primary: #ff5b5b;
@veui-alert-color-secondary: #ff9d9d;
@veui-alert-color-sup-1: #ffdede;
@veui-alert-color-sup-2: #ffefef;

@veui-warning-color-hover: #e5a643;
@veui-warning-color-primary: #ffb94b;
@veui-warning-color-secondary: #ffd593;
@veui-warning-color-sup-1: #fff1db;
@veui-warning-color-sup-2: #fff8ed;

@veui-success-color-hover: #399a92;
@veui-success-color-primary: #3faca3;
@veui-success-color-secondary: #8ccdcb;
@veui-success-color-sup-1: #d9eeed;
@veui-success-color-sup-2: #ecf7f6;

/* Grayscale colors */
@veui-gray-color-strong: #333;
@veui-gray-color-normal: #666;
@veui-gray-color-weak: #999;
@veui-gray-color-sup-1: #dbdbdb;
@veui-gray-color-sup-2: #e7e7e7;
@veui-gray-color-sup-3: #f1f1f1;
@veui-gray-color-sup-4: #f7f7f7;
@veui-gray-color-sup-5: #fcfcfc;

/* Text colors */
@veui-text-color-strong: @veui-gray-color-strong;
@veui-text-color-normal: @veui-gray-color-normal;
@veui-text-color-weak: @veui-gray-color-weak;

/* Shadow colors */
@veui-shadow-color-normal: fadeout(#000, 80%);
@veui-shadow-color-strong: fadeout(#000, 60%);

/* Font settings */
@veui-font-size-strong: 16px;
@veui-font-size-normal: 14px;
@veui-font-size-weak: 12px;

@veui-font-weight-normal: 300;
@veui-font-weight-bold: 600;

@veui-font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "STHeiti", "Microsoft YaHei", "SimHei", sans-serif;

/* Grid widths */
@veui-width-grid-whole: 1180px;
@veui-width-grid-gap: 20px;

/* Metrics */
@veui-height-large: 42px;
@veui-height-normal: 36px;
@veui-height-small: 30px;
