@import "../lib.less";

.@{veui-prefix}-accordion {
  border-radius: @dls-collapse-border-radius-m;

  &[ui~="s"] {
    .border-bottom-radius(@dls-collapse-border-radius-s);
  }

  & > .@{veui-prefix}-collapse + .@{veui-prefix}-collapse {
    margin-top: -1px;
  }

  & > .@{veui-prefix}-collapse {
    border-radius: 0;

    &:first-child {
      .border-top-radius(inherit);
    }

    &:last-child {
      .border-bottom-radius(inherit);
    }
  }
}
