@import "../lib.less";

.veui-alert {
  @success: @veui-success-color;
  @warning: @veui-warning-color;
  @info: @veui-info-color;
  @error: @veui-alert-color;

  position: relative;
  display: flex;
  line-height: @dls-alert-line-height;
  padding: @dls-alert-padding-y @dls-alert-padding-x;
  border: 1px solid transparent;
  color: @dls-alert-font-color;

  &-state,
  &-nav,
  &-close {
    height: dls-line-height(@dls-alert-line-height, 1em);
    display: inline-flex;
    align-items: center;
  }

  &-state {
    display: none;
    margin-right: @dls-alert-content-spacing-before;
  }

  &-icon {
    .dls-icon-size(@dls-alert-icon-size);
  }

  &-close {
    .veui-button {
      font-size: @dls-alert-icon-size-aux;
    }
  }

  &-nav {
    white-space: nowrap;
    margin-right: @dls-alert-content-spacing-after;
    color: @dls-alert-pages-font-color;
    &-indicator {
      padding: 0 @dls-alert-pages-spacing;
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    padding-right: @dls-alert-content-spacing-after;

    &-title {
      font-weight: @dls-alert-title-font-weight;
      line-height: @dls-alert-title-line-height;
      padding-bottom: @dls-alert-title-spacing-after;
      color: @dls-alert-title-font-color;
    }

    &-extra {
      float: right;
      margin-left: @dls-alert-content-spacing-after;
    }
  }

  .make-state-message(@state) {
    &-@{state} {
      @fg-color-name: ~"dls-alert-icon-color-@{state}";
      @bg-color-name: ~"dls-alert-background-color-@{state}";
      @border-color-name: ~"dls-alert-border-color-@{state}";
      background-color: @@bg-color-name;
      border-color: @@border-color-name;

      .veui-alert-icon {
        color: @@fg-color-name;
      }
    }
  }

  .make-state-message(success);
  .make-state-message(warning);
  .make-state-message(info);
  .make-state-message(error);

  /* 有title样式 */
  &&-titled {
    padding: @dls-alert-padding-y-titled @dls-alert-padding-x;
    .veui-alert-icon {
      .dls-icon-size(@dls-alert-icon-size-titled);
    }

    .veui-alert-close {
      align-items: start;
    }
  }

  &[ui~="s"] {
    font-size: @dls-alert-font-size-s;
    border-radius: @dls-alert-border-radius-s;
    &-content {
      &-title {
        font-size: @dls-alert-title-font-size-s;
      }
    }
  }

  &[ui~="m"] {
    font-size: @dls-alert-font-size-m;
    border-radius: @dls-alert-border-radius-m;
    &-content {
      &-title {
        font-size: @dls-alert-title-font-size-m;
      }
    }
  }

  &[ui~="strong"] {
    .veui-alert-state {
      display: inline-flex;
    }

    &.veui-alert-titled {
      .veui-alert-state {
        display: block;
      }
    }
  }
}
