@import "../lib.less";

.@{veui-prefix}-breadcrumb-item {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:last-child {
    .@{veui-prefix}-breadcrumb-separator {
      display: none;
    }
  }

  &-current {
    line-height: @dls-line-height-1;
    font-weight: @dls-breadcrumb-item-current-font-weight;
  }
}
