@import "../lib.less";

.@{veui-prefix}-button-group {
  display: inline-flex;

  .@{veui-prefix}-button {
    position: relative;
    margin-left: -1px;
    border-radius: 0;
    z-index: 1;

    &:first-child {
      margin-left: 0;
      .border-left-radius(@dls-button-border-radius-m);
    }

    &:last-child {
      .border-right-radius(@dls-button-border-radius-m);
    }

    &.focus-visible {
      z-index: 2;
    }

    &.@{veui-prefix}-disabled {
      z-index: 0;
    }
  }

  .@{veui-prefix}-button[ui~="primary"]
    + .@{veui-prefix}-button[ui~="primary"] {
    &::before {
      content: "";
      .absolute(-1px, _, -1px, -1px);
      width: 1px;
      background-color: @dls-button-group-separator-color-primary;
    }

    &.focus-visible::before {
      background-color: transparent;
    }

    &.@{veui-prefix}-disabled::before {
      background-color: @dls-button-group-separator-color-primary-disabled;
    }
  }

  &[ui~="s"] .@{veui-prefix}-button {
    &:first-child {
      .border-left-radius(@dls-button-border-radius-s);
    }

    &:last-child {
      .border-right-radius(@dls-button-border-radius-s);
    }
  }
}
