@import "../lib.less";

.calcHeaderHeight(@dls-font-size) {
  @headerHeight: @dls-line-height-m * @dls-font-size +
    @dls-date-picker-header-padding-y * 2;
}

.calcDayBodyHeight(@dls-font-size, @dls-date-picker-cell-height) {
  @dayBodyHeight: @dls-date-picker-day-body-padding-top + @dls-line-height-m *
    @dls-font-size + @dls-date-picker-day-body-padding-bottom +
    @dls-date-picker-weekdays-spacing-after + @dls-date-picker-cell-height * 6 +
    @dls-date-picker-day-cell-spacing-y * 7;
}

.calcDatePanelWidth(@dls-date-picker-cell-width) {
  @datePanelWidth: @dls-date-picker-panel-padding-x * 2 +
    @dls-date-picker-cell-width * 7 + @dls-date-picker-day-cell-spacing-x * 8;
}

.calcDatePanelHeight(@dls-font-size, @dls-date-picker-cell-height) {
  .calcHeaderHeight(@dls-font-size);
  .calcDayBodyHeight(@dls-font-size, @dls-date-picker-cell-height);
  @datePanelHeight: @headerHeight + @dayBodyHeight;
}

.@{veui-prefix}-calendar {
  display: inline-block;
  border: 1px solid @veui-gray-color-6;
  background-color: @dls-date-picker-dropdown-background-color;
  outline: none;
  font-size: @dls-date-picker-font-size-m;

  button {
    .veui-button-transition();
    line-height: @dls-line-height-m;

    &.focus-visible {
      .veui-focus-shadow();
    }
  }

  &-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    .calcDatePanelWidth(@dls-date-picker-cell-width-m);
    width: @datePanelWidth;
    .calcDatePanelHeight(
      @dls-date-picker-font-size-m,
      @dls-date-picker-cell-height-m
    );
    height: @datePanelHeight;

    .@{veui-prefix}-calendar-range & {
      display: inline-flex;
    }

    .@{veui-prefix}-calendar-type-month &,
    .@{veui-prefix}-calendar-type-year & {
      width: @datePanelWidth - 80px;
    }

    .@{veui-prefix}-calendar-body {
      flex-grow: 1;
    }

    & + & {
      .@{veui-prefix}-calendar-head {
        margin-left: 1px;
      }

      .@{veui-prefix}-calendar-body {
        border-left: 1px solid #fff;
      }
    }

    &::before {
      content: "";
      .calcHeaderHeight(@dls-date-picker-font-size-m);
      .absolute(@headerHeight, 0, _, 0);
      height: 0;
      border-bottom: 1px solid @veui-gray-color-6;
    }
  }

  &-head {
    padding: @dls-date-picker-header-padding-y @dls-date-picker-panel-padding-x;
    text-align: center;

    button {
      padding: 0;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }

    .@{veui-prefix}-calendar-prev,
    .@{veui-prefix}-calendar-next,
    .@{veui-prefix}-calendar-double-prev,
    .@{veui-prefix}-calendar-double-next {
      visibility: hidden;

      &.@{veui-prefix}-calendar-visible {
        visibility: visible;
      }

      .@{veui-prefix}-icon {
        width: auto;
        height: @dls-date-picker-header-pagination-icon-size;
      }
    }

    .@{veui-prefix}-calendar-prev {
      padding-left: @dls-date-picker-header-pagination-spacing;
    }
    .@{veui-prefix}-calendar-next {
      padding-right: @dls-date-picker-header-pagination-spacing;
    }
    .@{veui-prefix}-calendar-double-prev,
    .@{veui-prefix}-calendar-prev {
      float: left;
    }

    .@{veui-prefix}-calendar-double-next,
    .@{veui-prefix}-calendar-next {
      float: right;
    }

    .@{veui-prefix}-calendar-select {
      .@{veui-prefix}-icon {
        padding-left: @dls-date-picker-header-icon-aux-spacing;
        width: auto;
        height: ~"calc(1em - 4px)";

        .@{veui-prefix}-calendar-expanded & {
          padding-left: 0;
          padding-right: @dls-date-picker-header-icon-aux-spacing;
          transform: rotate(180deg);
        }
      }
    }
  }

  &-body {
    display: flex;
    height: 100%;
    padding: @dls-date-picker-month-body-padding-top -
      @dls-date-picker-month-cell-spacing-y @dls-date-picker-panel-padding-x 0;

    .@{veui-prefix}-calendar-type-date & {
      padding-top: @dls-date-picker-day-body-padding-top;
      padding-bottom: @dls-date-picker-day-body-padding-bottom;
    }

    .@{veui-prefix}-calendar-type-month .@{veui-prefix}-calendar-expanded &,
    .@{veui-prefix}-calendar-type-year & {
      padding-left: 0;
      padding-right: 0;
    }

    .@{veui-prefix}-calendar-year-table-wrap {
      .size(100%, 100%);
      overflow: auto;
      padding: 0 @dls-date-picker-panel-padding-x;

      table {
        width: 100%;
      }
    }

    .@{veui-prefix}-calendar-aux button {
      color: @veui-text-color-aux;
    }

    .@{veui-prefix}-calendar-today button {
      color: @veui-brand-color;
      font-weight: @veui-font-weight-extra-bold;
    }
  }

  &-body table {
    flex-grow: 1;
    table-layout: fixed;
    border-spacing: @dls-date-picker-day-cell-spacing-x
      @dls-date-picker-day-cell-spacing-y;

    th,
    td {
      text-align: center;
      padding: 0;
      font-weight: @dls-date-picker-cell-font-weight;
    }

    button {
      width: @dls-date-picker-cell-width-m;
      height: @dls-date-picker-cell-height-m;
      border: 1px solid @dls-date-picker-cell-border-color;
      border-radius: @dls-date-picker-cell-border-radius-m;
      padding: 0;
      background-color: @dls-date-picker-cell-background-color;
      color: @dls-date-picker-cell-font-color;
      text-align: center;
      outline: none;
      font-weight: @dls-date-picker-cell-font-weight;

      &:hover,
      &.focus-visible {
        background-color: @dls-date-picker-cell-background-color-hover;
        color: @veui-text-color-strong;
      }

      &.focus-visible {
        .veui-focus-shadow(
          fadeout(@dls-date-picker-cell-border-focus-color, 20%)
        );
        border-color: @dls-date-picker-cell-border-focus-color;
      }

      &:active {
        background-color: @dls-date-picker-cell-background-color-active;
      }

      &:disabled {
        &,
        &:hover {
          background-color: #fff;
          color: @veui-text-color-aux;
          cursor: not-allowed;
        }
      }
    }

    .@{veui-prefix}-calendar-selected {
      button {
        background-color: @dls-date-picker-cell-background-color-selected;
        color: @dls-date-picker-cell-font-color-selected;
        font-weight: @dls-date-picker-cell-font-weight-selected;

        &:hover,
        &.focus-visible {
          background-color: @dls-date-picker-cell-background-color-selected-hover;
        }

        &:active {
          background-color: @dls-date-picker-cell-background-color-selected-active;
        }
      }
    }

    &.@{veui-prefix}-calendar-month-table,
    &.@{veui-prefix}-calendar-year-table {
      border-spacing: 0 @dls-date-picker-month-cell-spacing-y;
      td {
        width: 100% / 3;
      }
      button {
        width: auto;
        padding: 0 @dls-date-picker-month-cell-padding-x;
      }
    }
  }

  // in-range
  &-in-range {
    position: relative;
    table & button {
      background-color: @dls-color-brand-2;
      border-radius: 0;
    }
    &.@{veui-prefix}-calendar-range-start {
      background-color: transparent;
      button {
        border-top-left-radius: @dls-date-picker-cell-border-radius-m;
        border-bottom-left-radius: @dls-date-picker-cell-border-radius-m;
      }
    }
    &.@{veui-prefix}-calendar-range-end {
      background-color: transparent;
      button {
        border-top-right-radius: @dls-date-picker-cell-border-radius-m;
        border-bottom-right-radius: @dls-date-picker-cell-border-radius-m;
      }
    }
  }
  &-range {
    td {
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #fff;
        top: 0;
      }
    }
    .@{veui-prefix}-calendar-in-range::before {
      background-color: @dls-color-brand-2;
    }
    table button {
      position: relative;
    }
  }

  &-date-table {
    td::before {
      width: @dls-date-picker-day-cell-spacing-x;
      right: -@dls-date-picker-day-cell-spacing-x;
      .veui-button-transition();
    }
  }
  &-range-end,
  &-in-range:last-child {
    .@{veui-prefix}-calendar-date-table &::before {
      background-color: #fff;
    }
  }

  &-month-table,
  &-year-table {
    button {
      transition-duration: 0s;
    }
  }
  &-range-start,
  &-range-end,
  &-in-range:first-child,
  &-in-range:last-child {
    .@{veui-prefix}-calendar-month-table &::before,
    .@{veui-prefix}-calendar-year-table &::before {
      width: 50%;
    }
  }

  &-range-start,
  &-in-range:first-child {
    .@{veui-prefix}-calendar-month-table &::before,
    .@{veui-prefix}-calendar-year-table &::before {
      right: 0;
    }
  }
  &-range-start&-range-end,
  &-range-start:last-child,
  &-range-end:first-child {
    .@{veui-prefix}-calendar-month-table &::before,
    .@{veui-prefix}-calendar-year-table &::before {
      background-color: #fff;
    }
  }

  &-month-table &-range-end:not(&-range-start),
  &-year-table &-range-end:not(&-range-start) {
    &::before {
      left: 0;
    }
  }

  &-year-scroller {
    width: @dls-date-picker-year-scroller-width;
    padding-top: @dls-date-picker-year-scroller-padding-y;
    padding-left: 0;
    border-right: 1px solid @veui-gray-color-6;
    height: 100%;
    overflow: auto;
    list-style-type: none;
    margin: 0;
    & > li {
      button {
        padding-left: @dls-date-picker-year-scroller-item-padding-x;
        background-color: @dls-date-picker-year-scroller-background-color;
        border: none;
        font-weight: @dls-date-picker-year-scroller-font-weight;
        height: @dls-date-picker-year-scroller-item-height-m;
        line-height: @dls-date-picker-year-scroller-item-height-m;
        padding-bottom: @dls-date-picker-year-scroller-item-spacing;
        margin: 0;
        outline: 0;
        width: 100%;
        text-align: left;

        &:hover {
          background-color: @dls-date-picker-year-scroller-background-color-hover;
          color: @dls-date-picker-year-scroller-font-color-hover;
        }
        &.focus-visible {
          background-color: @dls-date-picker-year-scroller-background-color-focus;
          color: @dls-date-picker-year-scroller-font-color-focus;
        }
        &:active {
          background-color: @dls-date-picker-year-scroller-background-color-active;
          color: @dls-date-picker-year-scroller-font-color-active;
        }
      }
      &.@{veui-prefix}-calendar-selected {
        button {
          color: @dls-date-picker-year-scroller-font-color-selected;
          font-weight: @dls-date-picker-year-scroller-font-weight-selected;
          &:hover {
            color: @dls-date-picker-year-scroller-font-color-selected-hover;
          }
          &.focus-visible {
            color: @dls-date-picker-year-scroller-font-color-selected-focus;
          }
          &:active {
            color: @dls-date-picker-year-scroller-font-color-selected-active;
          }
        }
      }
    }
  }

  &-type-date {
    .@{veui-prefix}-calendar-body th {
      padding-bottom: @dls-date-picker-weekdays-spacing-after -
        @dls-date-picker-day-cell-spacing-y;
    }
    .@{veui-prefix}-calendar-expanded {
      .@{veui-prefix}-calendar-body {
        padding: 0;
        table {
          padding: @dls-date-picker-month-body-padding-top -
            @dls-date-picker-month-cell-spacing-y
            @dls-date-picker-panel-padding-x 0;
        }
      }
    }
  }

  &[ui~="s"] {
    font-size: @dls-date-picker-font-size-s;
    .calcDatePanelWidth(@dls-date-picker-cell-width-s);
    .calcDatePanelHeight(
      @dls-date-picker-font-size-s,
      @dls-date-picker-cell-height-s
    );
    .@{veui-prefix}-calendar-panel {
      width: @datePanelWidth;
      height: @datePanelHeight;
      &::before {
        .calcHeaderHeight(@dls-date-picker-font-size-s);
        .absolute(@headerHeight, 0, _, 0);
      }
    }
    &.@{veui-prefix}-calendar-type-month,
    &.@{veui-prefix}-calendar-type-year {
      .@{veui-prefix}-calendar-panel {
        width: @datePanelWidth - 80px;
      }
    }
  }
  &[ui~="s"] &-body &-date-table {
    button {
      width: @dls-date-picker-cell-width-s;
      height: @dls-date-picker-cell-height-s;
      border-radius: @dls-date-picker-cell-border-radius-s;
    }
  }
}
