@import "../lib.less";

.@{veui-prefix}-carousel {
  // TODO: use a better default size
  @width-normal: 480px;
  @height-normal: 270px;

  position: relative;
  .size(@width-normal, @height-normal);
  display: flex;
  flex-direction: column;
  align-items: center;

  &-viewport-wrap,
  &-viewport {
    .size(100%);
    margin: 0 auto;
    overflow: hidden;
  }

  &-viewport-wrap {
    display: flex;
    align-items: center;
  }

  &-vertical &-viewport-wrap {
    flex-direction: column;
  }

  &-items {
    position: relative;
    display: flex;
    .reset-list-style();
    .size(100%);
    margin: 0;
    padding: 0;
  }

  &-item {
    overflow: hidden;
    outline: none;

    &-image {
      .size(100%);
      background: no-repeat center/cover;
    }
  }

  // fade effect
  &-fade &-item {
    width: 100%;
    .veui-transition(opacity);
    &-enter,
    &-leave-to {
      opacity: 0;
    }
    // current占下位置（aspectRatio 需要 padding 要撑开高度），其他的叠起来
    &:not(.@{veui-prefix}-carousel-item-current) {
      .absolute(0);
    }
  }

  // slide effect
  &-slide &-items {
    height: 100%;
    display: flex;
    &-vertical {
      flex-direction: column;
    }
    .veui-transition(transform);
  }

  &-slide &-item {
    height: 100%;
    width: 100%;
    position: static;
    flex: 1 0 auto;
  }
  &-gutter &-item:not(:last-child) {
    margin-right: var(--dls-carousel-gutter, 12px);
  }
  &-gutter&-vertical &-item:not(:last-child) {
    margin-bottom: var(--dls-carousel-gutter, 12px);
  }

  // controls
  &-control {
    .absolute(50%, _, _);
    transform: translateY(-50%);
    opacity: 0;

    &[ui] {
      .size(@dls-carousel-control-size);
      padding: 0;
    }

    &,
    &[ui] {
      border-radius: @dls-carousel-control-border-radius;
    }

    &-prev {
      left: @dls-carousel-control-spacing;
    }

    &-next {
      right: @dls-carousel-control-spacing;
    }

    .@{veui-prefix}-icon {
      .dls-icon-size(@dls-carousel-control-icon-size);
    }

    &-vertical {
      .absolute(auto, auto, auto, 50%);
    }
    &-vertical&-prev {
      top: @dls-carousel-control-spacing + 14px;
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &-vertical&-next {
      bottom: @dls-carousel-control-spacing + 14px;
      transform: translate(-50%, 50%) rotate(90deg);
    }
  }

  &:hover &-control,
  &.@{veui-prefix}-focus &-control {
    opacity: 1;
  }

  // outside controls
  &-outside-controls &-control {
    position: static;
    opacity: 1;
    flex: 0 0 auto;
    transform: translate(0, 0);
  }
  &-outside-controls &-control-prev {
    order: 1;
  }
  &-outside-controls &-viewport {
    order: 2;
    margin: 0 16px;
  }
  &-outside-controls &-control-next {
    order: 3;
  }

  // vertical outside controls
  &-vertical&-outside-controls &-viewport {
    margin: 16px 0;
  }
  &-vertical&-outside-controls &-control {
    transform: rotate(90deg);
  }

  // indictor starts
  &-indicator {
    display: flex;
    justify-content: center;
    &-horizontal&-bottom {
      .absolute(auto, auto, @dls-carousel-indicator-spacing-outer, 50%);
      transform: translateX(-50%);
    }
    &-horizontal&-top {
      .absolute(@dls-carousel-indicator-spacing-outer, auto, auto, 50%);
      transform: translateX(-50%);
    }
    &-vertical&-right {
      .absolute(50%, @dls-carousel-indicator-spacing-outer, auto, auto);
      transform: translate(50%, -50%) rotate(90deg);
    }
    &-vertical&-left {
      .absolute(50%, auto, auto, @dls-carousel-indicator-spacing-outer);
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &-item {
      display: block;
      position: relative;
      border: none;
      flex: 0 0 auto;
      padding: 0;
      margin-left: @dls-carousel-indicator-spacing-inner;
      .size(@dls-carousel-indicator-width, @dls-carousel-indicator-height);
      .veui-transition(width, background-color);
      color: transparent;
      background-color: @dls-carousel-indicator-background-color;
      border-radius: @dls-carousel-indicator-border-radius;
      outline: none;
      cursor: pointer;

      &::before {
        content: "";
        .absolute(-5px, 0);
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        background-color: @dls-carousel-indicator-background-color-hover;
      }

      &:active {
        background-color: @dls-carousel-indicator-background-color-active;
      }

      &-current {
        width: @dls-carousel-indicator-width-current;

        &,
        &:hover {
          background-color: @dls-carousel-indicator-background-color-current;
        }
      }
    }

    &-dots &-item {
      .size(6px);
      border-radius: 50%;
    }

    &-numbers {
      .padding(_, @dls-carousel-pages-padding-x);
      background-color: @dls-carousel-pages-background-color;
      color: @dls-carousel-pages-font-color;
      font-size: @dls-carousel-pages-font-size;
      .centered-line(@dls-carousel-pages-height);
      font-variant-numeric: tabular-nums;
      border-radius: @dls-carousel-pages-border-radius;
      cursor: default;
    }

    &-numbers&-bottom {
      .absolute(auto, auto, @dls-carousel-indicator-spacing-outer, 50%);
      transform: translateX(-50%);
    }
    &-numbers&-top {
      .absolute(@dls-carousel-indicator-spacing-outer, auto, auto, 50%);
      transform: translateX(-50%);
    }
    &-numbers&-left {
      .absolute(50%, auto, auto, @dls-carousel-indicator-spacing-outer);
      transform: translateY(-50%);
    }
    &-numbers&-right {
      .absolute(50%, @dls-carousel-indicator-spacing-outer, auto, auto);
      transform: translateY(-50%);
    }
  }

  &-outside-indicator &-indicator-bottom {
    position: static;
    margin-top: 12px;
    transform: none;
  }

  &-outside-indicator &-indicator-item {
    background-color: @dls-color-gray-4;
    &:hover {
      background-color: @dls-color-brand-7;
    }
    &:active {
      background-color: @dls-color-brand-7;
    }
    &-current {
      &,
      &:hover {
        background-color: @dls-color-brand-7;
      }
    }
  }

  &-aspect-ratio {
    height: auto !important;
  }
  &-vertical&-slide&-aspect-ratio &-viewport-wrap {
    .absolute(0);
  }
  &-vertical&-slide&-aspect-ratio &-dummy {
    content: "";
    display: block;
    // padding-top 由代码输出
  }
}
