@import "../lib.less";
@import (reference) "../dropdown.less";
@import (reference) "../trigger.less";

.@{veui-prefix}-cascader {
  display: inline-flex;

  .@{veui-prefix}-trigger {
    &:extend(._veui-select-trigger all);
  }

  &-pane-wrap {
    &:extend(._veui-dropdown-overlay all);
    overflow-y: auto;
    background-color: @dls-option-background-color;
    outline: none;
  }
  & &-pane-wrap {
    max-height: none; // 覆盖 overlay 对下拉的高度限制
  }

  // 特殊处理：将全选伪造成第一层
  &-select-all &-pane &-pane-menu:first-child > &-pane-tree > li > &-pane-tree {
    padding-left: 0;
  }

  &-pane-option {
    .veui-search-result();
  }

  &-search-result {
    .@{veui-prefix}-cascader-pane-menu-wrap {
      width: 100%;
    }
    .@{veui-prefix}-cascader-pane-menu {
      height: auto;
    }
    &-item-separator {
      transform: rotate(-90deg);
    }
  }
  &-before,
  &-after {
    padding-top: 2 * @dls-padding-unit;
    padding-bottom: 2 * @dls-padding-unit;
    color: @dls-foreground-color-neutral-weak;
  }
  &-before {
    border-bottom: 1px solid @dls-line-color-1;
  }
  &-after {
    border-top: 1px solid @dls-line-color-1;
  }
}
