@import "../lib.less";
@import (reference) "../dropdown.less";

.@{veui-prefix}-cascader-pane {
  @option-count: 8;
  @panel-height-xs: @option-count * @dls-option-height-xs + 2 *
    @dls-option-group-padding-y;
  @panel-height-s: @option-count * @dls-option-height-s + 2 *
    @dls-option-group-padding-y;
  @panel-height-m: @option-count * @dls-option-height-m + 2 *
    @dls-option-group-padding-y;
  @panel-height-l: @option-count * @dls-option-height-l + 2 *
    @dls-option-group-padding-y;
  @min-panel-width: 30 * @dls-padding-unit;
  @option-padding-x: 3 * @dls-padding-unit;

  display: flex;

  &-tree {
    .reset-list-style();
    margin: 0;
    will-change: height;
    .veui-transition(height);
  }

  &-column {
    .padding(@dls-option-group-padding-y, _);
    position: relative;
    height: @panel-height-m;
    overflow: auto;
    max-height: @panel-height-m; // 用来控制搜索时最大高度，此时高度会 reset 成 auto
  }
  &[ui~="xs"] &-column {
    height: @panel-height-xs;
    max-height: @panel-height-xs;
  }

  &[ui~="s"] &-column {
    height: @panel-height-s;
    max-height: @panel-height-s;
  }

  &[ui~="l"] &-column {
    height: @panel-height-l;
    max-height: @panel-height-l;
  }

  &-column-wrap:not(:first-child) {
    border-left: 1px solid @dls-line-color-1;
  }

  // 下拉第一层没有缩进，其他层缩进
  &-column > &-tree {
    padding-left: 0;
    box-sizing: content-box;
    flex: auto;
    overflow-x: hidden;
    position: relative;
  }

  &-tree &-tree {
    padding-left: 3 * @dls-padding-unit;
  }

  &-column-wrap {
    min-width: @min-panel-width;
  }

  // 内联平分
  &-inline &-column-wrap {
    flex: 1 0;
  }

  &-custom-width &-column-wrap {
    flex: none;
    &:last-child {
      flex: 1 0;
    }
  }

  // option
  &-group-label,
  &-option {
    &:extend(._veui-dropdown-option all);
    .padding(_, @option-padding-x);
    // reset dropdown option background, use tree item background
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    position: relative;
  }

  &-option-label {
    display: flex;
    align-items: center;
  }

  // tree hover style
  &-option-wrap {
    height: @dls-option-height-m;
    outline: none;

    &[ui~="xs"] {
      height: @dls-option-height-xs;
    }

    &[ui~="s"] {
      height: @dls-option-height-s;
    }

    &[ui~="l"] {
      height: @dls-option-height-l;
    }

    &:not(&-disabled) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        height: inherit;
        width: 200%; // hack around Safari's bug
        .veui-transition(background-color);
      }

      &:hover {
        .@{veui-prefix}-cascader-pane-option-label {
          color: @dls-option-font-color-hover;
        }
        &::before {
          background-color: @dls-tree-node-background-color-hover;
        }
      }

      &[data-focus-visible-added] {
        .@{veui-prefix}-cascader-pane-option-label {
          color: @dls-option-font-color-focus;
        }
        &::before {
          background-color: @dls-option-background-color-focus;
        }
      }

      // :active applies to all elements
      &:active {
        .@{veui-prefix}-cascader-pane-option-label {
          color: @dls-option-font-color-active;
        }
        &::before {
          background-color: @dls-button-background-color-normal-active;
        }
      }
    }

    &:not(&-disabled)&-expanded {
      &::before {
        font-weight: @dls-option-font-weight-selected-parent;
        background-color: @dls-option-background-color-selected-parent;
      }
      &:active::before {
        background-color: @dls-option-background-color-active;
      }
    }

    &-disabled {
      cursor: not-allowed;
      background-color: @dls-option-background-color;

      .@{veui-prefix}-cascader-pane-option {
        cursor: not-allowed;
        color: @dls-option-font-color-disabled;
      }
    }
  }

  &:not(&-multiple) &-option-wrap-selected:not(&-option-wrap-disabled) {
    .@{veui-prefix}-cascader-pane-option-label {
      color: @dls-option-font-color-selected;
      font-weight: @dls-option-font-weight-selected;
    }

    &:hover {
      .@{veui-prefix}-cascader-pane-option-label {
        color: @dls-option-font-color-selected-hover;
      }
    }

    &[data-focus-visible-added] {
      .@{veui-prefix}-cascader-pane-option-label {
        color: @dls-option-font-color-selected-focus;
      }
    }

    &:active {
      .@{veui-prefix}-cascader-pane-option-label {
        color: @dls-option-font-color-selected-active;
      }
    }
  }

  &-group-label {
    display: flex;
    align-items: center;
    max-width: @dls-option-max-width-m;
    font-size: @dls-option-font-size-m;

    .padding(@dls-option-group-label-padding-y, @option-padding-x);

    .@{veui-prefix}-cascader-pane-option-label {
      flex-grow: 1;
    }

    .@{veui-prefix}-cascader-pane-expandable {
      color: @dls-option-icon-color-aux;
      .dls-icon-size(@dls-option-icon-size-aux);
      margin-left: @dls-option-label-spacing-after;
    }
  }

  &-column-before,
  &-column-after {
    padding: 2 * @dls-padding-unit 3 * @dls-padding-unit;
    color: @dls-foreground-color-neutral-weak;
  }
  &-column-before {
    margin-top: -@dls-option-group-padding-y;
  }
  &-column-after {
    margin-bottom: -@dls-option-group-padding-y;
    position: sticky;
    top: 100%;
  }

  &[ui~="xs"] {
    .@{veui-prefix}-cascader-pane-option-wrap {
      height: @dls-option-height-xs;
      .@{veui-prefix}-cascader-pane-option-label {
        font-size: @dls-option-font-size-xs;
        max-width: @dls-option-max-width-xs;
      }
    }
  }

  &[ui~="s"] {
    .@{veui-prefix}-cascader-pane-option-wrap {
      height: @dls-option-height-s;
      .@{veui-prefix}-cascader-pane-option-label {
        font-size: @dls-option-font-size-s;
        max-width: @dls-option-max-width-s;
      }
    }
  }

  &[ui~="l"] {
    .@{veui-prefix}-cascader-pane-option-wrap {
      height: @dls-option-height-l;
      .@{veui-prefix}-cascader-pane-option-label {
        font-size: @dls-option-font-size-l;
        max-width: @dls-option-max-width-l;
      }
    }
  }
}
