@import "../lib.less";

.@{veui-prefix}-checkbox-group {
  display: flex;
  align-items: center;

  .@{veui-prefix}-checkbox {
    flex: none;
  }

  .@{veui-prefix}-radio,
  .@{veui-prefix}-checkbox {
    & + & {
      margin-left: @dls-checkbox-group-spacing;
    }
  }
}
