@import "../lib.less";

.@{veui-prefix}-layout-content {
  margin: 24px 24px 0;
  flex: 1 0 auto;
  border-radius: 6px;
  background-color: #fff;
}

// @media screen and (min-width: 1901px) {
//   .@{veui-prefix}-layout-content {
//     max-width: 1285px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
