@import "../lib.less";

.@{veui-prefix}-drawer {
  @indent: 180px;

  .drawer-width(@ui-width) {
    @padding-x: @dls-dialog-padding-x * 2;

    --@{veui-fixed-prefix}-drawer-ui-width: @ui-width;
    --@{veui-fixed-prefix}-drawer-content-fallback: calc(
      var(~"--@{veui-fixed-prefix}-drawer-ui-width") - @padding-x
    );
    --@{veui-fixed-prefix}-drawer-width: calc(
      var(
          --dls-drawer-content-width,
          var(~"--@{veui-fixed-prefix}-drawer-content-fallback")
        ) + @padding-x
    );
    width: var(--dls-drawer-width, var(~"--@{veui-fixed-prefix}-drawer-width"));
  }

  &-box {
    .veui-transition(background-color);

    .@{veui-prefix}-dialog-content {
      display: flex;
      flex-direction: column;
      max-height: none;
      margin: 0;
      border-radius: 0;
      overflow: auto;
      .veui-transition(transform);

      &-head {
        [ui~="s"]& {
          font-size: @dls-drawer-title-font-size-s;
        }

        [ui~="m"]& {
          font-size: @dls-drawer-title-font-size-m;
        }

        &-close {
          .@{veui-prefix}-icon {
            .dls-icon-size(
              @dls-drawer-close-icon-size,
              @dls-dialog-close-icon-min-size
            );
          }
        }
      }

      &-body {
        flex-grow: 1;
      }
    }
  }

  &-top {
    .@{veui-prefix}-dialog-content {
      .absolute(0, 0, auto, 0);
      width: auto !important;
      box-shadow: @dls-drawer-shadow-top;
      transform: translateY(
        calc(
          var(~"--@{veui-fixed-prefix}-drawer-indent-offset", 0) +
            var(~"--@{veui-fixed-prefix}-drawer-indent-level") * @indent
        )
      );
    }
  }

  &-right {
    .@{veui-prefix}-dialog-content {
      .absolute(0, 0, 0, auto);
      box-shadow: @dls-drawer-shadow-right;
      transform: translateX(
        calc(
          var(~"--@{veui-fixed-prefix}-drawer-indent-offset", 0) * -1 +
            var(~"--@{veui-fixed-prefix}-drawer-indent-level") * -@indent
        )
      );
    }
  }

  &-bottom {
    .@{veui-prefix}-dialog-content {
      .absolute(auto, 0, 0, 0);
      width: auto !important;
      box-shadow: @dls-drawer-shadow-bottom;
      transform: translateY(
        calc(
          var(~"--@{veui-fixed-prefix}-drawer-indent-offset", 0) * -1 +
            var(~"--@{veui-fixed-prefix}-drawer-indent-level") * -@indent
        )
      );
    }
  }

  &-left {
    .@{veui-prefix}-dialog-content {
      .absolute(0, auto, 0, 0);
      box-shadow: @dls-drawer-shadow-left;
      transform: translateX(
        calc(
          var(~"--@{veui-fixed-prefix}-drawer-indent-offset", 0) +
            var(~"--@{veui-fixed-prefix}-drawer-indent-level") * @indent
        )
      );
    }
  }

  &-box&-right,
  &-box&-left {
    .@{veui-prefix}-dialog-content {
      .drawer-width(@dls-drawer-width);
    }
  }

  &-box.@{veui-prefix}-overlay-enter,
  &-box.@{veui-prefix}-overlay-leave-to {
    opacity: 1;
    background-color: transparent;

    &.@{veui-prefix}-drawer-top {
      .@{veui-prefix}-dialog-content {
        transform: translateY(-100%);
      }
    }
    &.@{veui-prefix}-drawer-right {
      .@{veui-prefix}-dialog-content {
        transform: translateX(100%);
      }
    }
    &.@{veui-prefix}-drawer-bottom {
      .@{veui-prefix}-dialog-content {
        transform: translateY(100%);
      }
    }
    &.@{veui-prefix}-drawer-left {
      .@{veui-prefix}-dialog-content {
        transform: translateX(-100%);
      }
    }
  }
}
