@import "../lib.less";

.@{veui-prefix}-embedded {
  .@{veui-prefix}-dialog-content-head {
    &-close .@{veui-prefix}-icon {
      .dls-icon-size(@dls-embedded-close-icon-size);
    }

    [ui~="s"] & {
      font-size: @dls-embedded-title-font-size-s;
    }

    [ui~="m"] & {
      font-size: @dls-embedded-title-font-size-m;
    }
  }

  .@{veui-prefix}-dialog-content {
    border: 1px solid @dls-embedded-border-color;
    box-shadow: @dls-embedded-shadow;
  }
}
