@import "../lib.less";

.@{veui-prefix}-empty {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    line-height: @dls-empty-title-line-height;
    color: @dls-empty-title-font-color;
    font-weight: @dls-empty-title-font-weight;
  }

  &-image,
  &-title,
  &-desc {
    &:not(:first-child) {
      margin-top: @dls-empty-content-spacing;
    }
  }

  &-desc {
    line-height: @dls-empty-desc-line-height;
    color: @dls-empty-desc-font-color;
    font-weight: @dls-empty-desc-font-weight;
  }

  &-actions:not(:first-child) {
    margin-top: @dls-empty-actions-spacing-before;
  }

  &-actions {
    .@{veui-prefix}-button + .@{veui-prefix}-button {
      margin-left: @dls-empty-actions-content-spacing;
    }
  }

  &[ui~="m"] {
    max-width: @dls-empty-max-width-m;

    .@{veui-prefix}-empty {
      &-image > * {
        max-height: @dls-empty-image-max-height-m;
      }

      &-title {
        font-size: @dls-empty-title-font-size-m;
      }

      &-desc {
        font-size: @dls-empty-desc-font-size-m;
      }
    }
  }

  &[ui~="s"] {
    max-width: @dls-empty-max-width-s;

    .@{veui-prefix}-empty {
      &-image > * {
        max-height: @dls-empty-image-max-height-s;
      }

      &-title {
        font-size: @dls-empty-title-font-size-s;
      }

      &-desc {
        font-size: @dls-empty-desc-font-size-s;
      }
    }
  }
}
