@import "../lib.less";

.@{veui-prefix}-fieldset {
  .@{veui-prefix}-field {
    align-self: flex-start;
  }

  & > .@{veui-prefix}-field-content > .@{veui-prefix}-field-input-wrapper {
    display: flex;
    flex-direction: row;
  }
}
