@import "../lib.less";

// will be removed
@dls-form-field-min-height: @dls-padding-unit * 8;
@dls-form-field-spacing-after-horizontal: @dls-padding-unit * 2;

.@{veui-prefix}-field {
  @field-content-left-spacing: ~"calc(@{dls-form-label-width} + @{dls-form-label-spacing-after-horizontal})";

  position: relative;
  display: flex;
  min-height: @dls-form-field-min-height;

  .@{veui-prefix}-form-label {
    width: @dls-form-label-width;
    line-height: @dls-form-field-min-height;
    margin-right: @dls-form-label-spacing-after-horizontal;
    color: @dls-form-label-font-color;
    display: flex;
    justify-content: flex-end;
  }

  &-required > .@{veui-prefix}-form-label::before {
    .veui-field-require();
  }

  .@{veui-prefix}-form-tip {
    position: absolute;
    left: ~"calc(@{dls-form-label-width} + @{dls-form-label-content-spacing})";
    top: ~"calc(@{dls-form-field-min-height} / 2 - 0.5em)";
    color: @dls-form-label-icon-color;
  }

  &-no-label {
    margin-left: @field-content-left-spacing;
  }

  .@{veui-prefix}-form-content {
    flex: 1;
    display: flex;
    position: relative;
    > * {
      margin-left: @dls-form-field-spacing-after-horizontal;
      &:first-child {
        margin-left: 0;
      }
    }
    .@{veui-prefix}-span,
    .@{veui-prefix}-radio-group,
    .@{veui-prefix}-checkbox-group {
      line-height: @dls-form-field-min-height;
    }
  }

  &-error {
    position: absolute;
    left: 0;
    top: ~"calc(100% + @{dls-form-field-error-spacing-before-vertical})";
    color: @dls-form-field-error-font-color;
  }
}
