@import "../lib.less";

.@{veui-prefix}-layout-footer {
  height: var(--dls-layout-footer-height, @dls-layout-footer-height);
  padding: 24px 0;
  display: flex;
  justify-content: center;

  &-sticky {
    position: sticky;
    bottom: 0;
    z-index: 9;
  }
}
