@import "../lib.less";

.@{veui-prefix}-form {
  > .@{veui-prefix}-field {
    margin-bottom: @dls-form-field-spacing-vertical;
    &.@{veui-prefix}-fieldset {
      margin-bottom: 0;
    }
  }

  > .@{veui-prefix}-field:last-child {
    margin-bottom: 0;
  }

  // todo: @dls-form-actions-spacing-before 似乎用不到？目前 operation 区域全是外部自己写的。。
  // 或者改模板加 slot？
}
