@import "../lib.less";

.@{veui-prefix}-icon {
  width: auto;
  height: 1em;

  &-spin {
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
