@import "../lib.less";

.@{veui-prefix}-input {
  @left-padding: @dls-input-padding;

  display: inline-flex;
  align-items: stretch;
  vertical-align: middle;
  height: @dls-input-height-m;
  font-size: @dls-input-font-size-m;
  width: @dls-input-width;
  border-radius: @dls-input-border-radius-m;

  &-autofill {
    background-color: @veui-autofill-color;
  }

  &-hidden {
    display: none !important;
  }

  &-main {
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    position: relative;
    padding: 0 @dls-input-padding;
    border: 1px solid @dls-input-border-color;
    border-radius: inherit;
    background-color: @dls-input-background-color;
    color: @dls-input-font-color;
    cursor: text;
    .veui-transition(border-color, color, box-shadow);
  }

  &-has-before &-main {
    .border-left-radius(0);
  }

  &-has-after &-main {
    .border-right-radius(0);
  }

  &-before,
  &-after,
  &-prepend,
  &-append {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  &-before,
  &-after {
    border-radius: inherit;
  }

  &-before-label,
  &-after-label {
    display: flex;
    align-items: center;
    .size(100%);
    border: 1px solid @dls-input-border-color;
    border-radius: inherit;
    padding: 0 @dls-input-padding;
  }

  &-before-label {
    .border-right-radius(0);
    border-right: none;
  }

  &-after-label {
    .border-left-radius(0);
    border-left: none;
  }

  &-prepend {
    padding-right: @dls-input-content-spacing;
  }

  &-append {
    padding-left: @dls-input-content-spacing;
  }

  &-content {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    position: relative;
  }

  &-input {
    display: block;
    overflow: hidden;
    border: none;
    outline: none;
    color: inherit;
    padding: 0;
    width: 100%;
    background-color: transparent;
    .ellipsis();
  }

  &-clear {
    margin: dls-sum(@dls-button-padding-text * -1, -2px);

    &[ui] {
      color: @dls-input-icon-color;
    }

    &-has-append {
      margin-right: dls-sum(
        @dls-button-padding-text * -1,
        -2px,
        @dls-input-content-spacing
      );
    }
  }

  &-clear + &-count {
    margin-left: @dls-input-content-spacing;
  }

  &-main:hover {
    border-color: @dls-input-border-color-hover;
  }

  &.@{veui-prefix}-readonly &-main {
    border-color: @dls-input-border-color-read-only;
    background-color: @dls-input-background-color-read-only;
  }

  &.@{veui-prefix}-readonly &-main:hover {
    border-color: @dls-input-border-color-read-only-hover;
  }

  &.@{veui-prefix}-readonly &-input {
    color: @dls-input-font-color-read-only;
  }

  &.@{veui-prefix}-focus {
    position: relative;
  }

  &.@{veui-prefix}-focus &-main {
    .dls-focus-ring(@dls-input-border-color-focus, @dls-input-shadow-focus);
  }

  &.@{veui-prefix}-invalid &-main {
    border-color: @dls-input-border-color-error;
    color: @dls-input-font-color-error;
  }

  &.@{veui-prefix}-invalid &-main:hover {
    border-color: @dls-input-border-color-error-hover;
  }

  &.@{veui-prefix}-invalid.@{veui-prefix}-focus &-main {
    .dls-focus-ring(
      @dls-input-border-color-error-focus,
      @dls-input-shadow-error-focus
    );
  }

  &.@{veui-prefix}-focus.@{veui-prefix}-readonly &-main {
    border-color: @dls-input-border-color-read-only-focus;
  }

  &.@{veui-prefix}-disabled &-main,
  &.@{veui-prefix}-readonly &-before-label,
  &.@{veui-prefix}-readonly &-after-label,
  &.@{veui-prefix}-disabled &-before-label,
  &.@{veui-prefix}-disabled &-after-label {
    background-color: @dls-input-background-color-disabled;
    border-color: @dls-input-border-color-disabled;
    cursor: not-allowed;
  }

  &.@{veui-prefix}-disabled &-input,
  &.@{veui-prefix}-readonly &-before-label,
  &.@{veui-prefix}-readonly &-after-label,
  &.@{veui-prefix}-disabled &-before-label,
  &.@{veui-prefix}-disabled &-after-label,
  &.@{veui-prefix}-disabled &-prepend,
  &.@{veui-prefix}-disabled &-append {
    color: @dls-input-font-color-disabled;
    pointer-events: none;
  }

  &-placeholder {
    position: absolute;
    width: 100%;
    color: @dls-input-placeholder-color;
    pointer-events: none;
    cursor: text;
    .ellipsis();
  }

  &-count {
    line-height: 2; // ensure even number
    color: @dls-input-count-color;
    font-variant-numeric: tabular-nums;
    .veui-transition(color);

    &-overflow {
      color: @dls-input-count-color-error;
    }
  }

  &[ui~="xs"] {
    height: @dls-input-height-xs;
    font-size: @dls-input-font-size-xs;
    border-radius: @dls-input-border-radius-xs;
  }

  &[ui~="s"] {
    height: @dls-input-height-s;
    font-size: @dls-input-font-size-s;
    border-radius: @dls-input-border-radius-s;
  }

  &[ui~="l"] {
    height: @dls-input-height-l;
    font-size: @dls-input-font-size-l;
    border-radius: @dls-input-border-radius-l;
  }

  &[ui~="inline"] {
    border-radius: 0;
    position: relative;
    background-color: transparent;

    &.@{veui-prefix}-readonly,
    &.@{veui-prefix}-disabled {
      .@{veui-prefix}-input-main {
        background-color: transparent;
      }
    }
  }

  &[ui~="inline"] &-main {
    position: relative;
    box-shadow: none;
    border-style: none none solid;
  }

  &[ui~="inline"].@{veui-prefix}-input-has-after .@{veui-prefix}-input-main {
    border-radius: 0;
  }

  &.@{veui-prefix}-focus[ui~="inline"] &-main {
    box-shadow: @dls-input-shadow-inline-focus;
  }

  &.@{veui-prefix}-invalid.@{veui-prefix}-focus[ui~="inline"] &-main {
    box-shadow: @dls-input-shadow-inline-error-focus;
  }
}
