@import "../lib.less";

.veui-loading {
  text-align: center;

  &-text {
    vertical-align: top;
    display: inline-block;
    padding-left: @dls-loading-content-spacing;

    &[ui~="s"] {
      font-size: @dls-loading-font-size-s;
    }

    &[ui~="m"] {
      font-size: @dls-loading-font-size-m;
    }

    &[ui~="l"] {
      font-size: @dls-loading-font-size-l;
    }

    &[ui~="normal"] {
      color: @dls-loading-font-color-normal;
    }

    &[ui~="strong"] {
      color: @dls-loading-font-color-strong;
    }

    &[ui~="reverse"] {
      color: @dls-loading-font-color-reverse;
    }

    &[ui~="vertical"] {
      display: block;
    }
  }

  &-spinner {
    padding-bottom: @dls-loading-padding;

    &[ui~="s"] {
      font-size: @dls-loading-size-s;
    }

    &[ui~="m"] {
      font-size: @dls-loading-size-m;
    }

    &[ui~="l"] {
      font-size: @dls-loading-size-l;
    }

    &[ui~="normal"] {
      color: @dls-loading-color-normal;
    }

    &[ui~="strong"] {
      color: @dls-loading-color-strong;
    }

    &[ui~="reverse"] {
      color: @dls-loading-color-reverse;
    }
  }
}
