@import "../lib.less";

.@{veui-prefix}-message {
  display: flex;
  align-items: center;

  &-icon {
    margin-right: 8px;
  }

  &-info {
    color: @dls-dialog-icon-color-info;
  }

  &-success {
    color: @dls-dialog-icon-color-success;
  }

  &-error {
    color: @dls-dialog-icon-color-error;
  }

  &-warning {
    color: @dls-dialog-icon-color-warning;
  }
}
