@import "../lib.less";

// TODO tokens
.@{veui-prefix}-message {
  display: flex;
  align-items: center;
  font-size: @dls-font-size-1;

  &-icon {
    margin-right: @dls-padding-unit * 1;
  }

  &-popup &-icon {
    cursor: pointer;
  }

  &-info&-standalone &-icon,
  &-info:not(&-standalone) {
    color: @dls-dialog-icon-color-info;
  }

  &-success&-standalone &-icon,
  &-success:not(&-standalone) {
    color: @dls-dialog-icon-color-success;
  }

  &-error&-standalone &-icon,
  &-error:not(&-standalone) {
    color: @dls-dialog-icon-color-error;
  }

  &-warning&-standalone &-icon,
  &-warning:not(&-standalone) {
    color: @dls-dialog-icon-color-warning;
  }

  &-aux&-standalone &-icon,
  &-aux:not(&-standalone) {
    color: @dls-color-gray-7;
  }

  &[ui~="s"] {
    font-size: @dls-font-size-0;
  }
}
