@import "../lib.less";
@import (reference) "../dropdown.less";

// TODO remove：先保留这个变量，值和之前 menu-* 的都是一样的
@dls-nav-item-icon-size-aux: @dls-icon-size-aux;

// Background-colors
@dls-nav-item-background-color-focus: @dls-background-color-focus;

/* Dropdown card */
@dls-nav-card-background-color: @dls-background-color-base-1;
@dls-nav-card-border-radius: @dls-border-radius-1;
@dls-nav-card-background-color: @dls-background-color-base-1;
@dls-nav-card-padding: @dls-padding-unit * 6;
@dls-nav-card-column-spacing: @dls-padding-unit * 12;
@dls-nav-card-target-spacing: @dls-padding-unit * 1;

@dls-nav-card-title-font-color: @dls-foreground-color-neutral;
@dls-nav-card-title-font-size: @dls-font-size-1;
@dls-nav-card-title-font-weight: @dls-font-weight-2;

// Use Link for items
@dls-nav-card-item-spacing: @dls-padding-unit * 4;
@dls-nav-card-item-font-size: @dls-font-size-1;
@dls-nav-card-item-icon-size: @dls-icon-size-normal;

.@{veui-prefix}-nav {
  line-height: @dls-line-height-1;

  &-body {
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
  }

  &-body,
  &-overlay ul {
    list-style: none;
    padding-left: 0;
  }

  // all menu items
  &-item {
    font-size: @dls-nav-item-font-size;

    &,
    &:hover,
    &[data-focus-visible-added],
    &:active {
      text-decoration: none;
    }
  }

  &-indicator {
    .absolute(_, _, 0, 0);

    &::after {
      content: "";
      .size(0, @dls-nav-indicator-stroke-width);
      border-radius: @dls-nav-indicator-border-radius;
      opacity: 0;
      display: block;
      .veui-transition(background-color, box-shadow, opacity, width, transform, margin-left);
    }
  }

  &-indicator-hover,
  &-indicator-move {
    &::after {
      .size(@dls-nav-indicator-width-hover, _);
      opacity: 1;
      margin-left: -@dls-nav-indicator-width-hover / 2;
      background-color: @dls-nav-indicator-color;
    }
  }

  &-indicator-move {
    .veui-transition(transform);
  }

  &-item-label-wrapper,
  &-overlay .@{veui-prefix}-option-group-label,
  &-body &-item {
    position: relative;
  }

  &-body &-item-label-wrapper {
    height: 100%;
    display: inline-flex;
    align-items: center;
  }

  // top level normal item style
  &-body &-item {
    margin: 0 @dls-nav-item-spacing / 2;
    padding: @dls-nav-item-padding;
    height: @dls-nav-item-height;
    flex: none;
    display: flex;
    align-items: center;
    position: relative;
    outline: none;
    white-space: nowrap;
    cursor: pointer;

    &:not(.@{veui-prefix}-disabled) {
      .@{veui-prefix}-nav-item-label-wrapper {
        color: @dls-nav-item-font-color;

        // 因为 :active 在每个 item 上，实现 hover -> click 的动画先实现个 hover 样式
        &::after {
          content: "";
          .absolute(_, _, 0, 50%);
          .size(@dls-nav-indicator-width-hover, @dls-nav-indicator-stroke-width);
          transform: translateX(-50%);
          border-radius: @dls-nav-indicator-border-radius;
          opacity: 0;
          .veui-transition(background-color, box-shadow, opacity, width);
        }
      }

      &.@{veui-prefix}-nav-item-open {
        .@{veui-prefix}-nav-item-label-wrapper {
          color: @dls-nav-item-font-color-hover;
        }
      }

      &[data-focus-visible-added] {
        background-color: @dls-nav-item-background-color-focus;
        .@{veui-prefix}-nav-item-label-wrapper {
          color: @dls-nav-item-font-color-focus;
        }
      }

      &:not(.@{veui-prefix}-nav-more):active {
        .@{veui-prefix}-nav-item-label-wrapper {
          color: @dls-nav-item-font-color-active;
        }

        .@{veui-prefix}-nav-item-label-wrapper::after {
          background-color: @dls-nav-indicator-color-active;
          width: @dls-nav-indicator-width-active;
          opacity: 1;
        }
      }
    }

    &.@{veui-prefix}-disabled {
      .@{veui-prefix}-nav-expand-icon,
      .@{veui-prefix}-nav-item-label-wrapper {
        color: @dls-nav-item-font-color-disabled;
      }
    }
  }

  // more button
  &-more {
    padding: 0 @dls-nav-item-padding-more;

    &-hidden {
      visibility: hidden;
      position: absolute;
    }
  }

  // top level current item style
  &-body &-item-exact-active,
  &-body &-item-active {
    &:not(.@{veui-prefix}-disabled) {
      // indicator
      .@{veui-prefix}-nav-item-label-wrapper {
        color: @dls-nav-item-font-color-current;

        &::after {
          background-color: @dls-nav-indicator-color-active;
          width: @dls-nav-indicator-width;
          opacity: 1;
        }
      }

      &.@{veui-prefix}-nav-item-open {
        .@{veui-prefix}-nav-item-label-wrapper {
          color: @dls-nav-item-font-color-current-hover;

          &::after {
            background-color: @dls-nav-indicator-color-hover;
          }
        }
      }

      &[data-focus-visible-added] {
        .@{veui-prefix}-nav-item-label-wrapper {
          color: @dls-nav-item-font-color-current-focus;

          &::after {
            background-color: @dls-nav-indicator-color-focus;
          }
        }
      }

      &:not(.@{veui-prefix}-nav-more):active {
        .@{veui-prefix}-nav-item-label-wrapper {
          color: @dls-nav-item-font-color-current-active;

          &::after {
            background-color: @dls-nav-indicator-color-active;
            width: @dls-nav-indicator-width-active;
          }
        }
      }
    }
  }

  // expand icon in top level items
  &-expand-icon {
    .size(@dls-nav-item-icon-size-aux);
    margin-left: @dls-nav-item-content-spacing;
    color: @dls-nav-item-font-color;
    .veui-transition(transform, color);
  }

  &-item-open &-expand-icon {
    transform: rotateZ(180deg);
  }

  // dropdown: apply overlay shadow styles
  &-dropdown > .@{veui-prefix}-option-group,
  &-dropdown &-card {
    &:extend(._veui-dropdown-overlay all);
  }

  // card
  &-overlay &-card {
    display: flex;
    padding: @dls-nav-card-padding;
    background-color: @dls-nav-card-background-color;
    border-radius: @dls-nav-card-border-radius;

    // space between card direct columns
    & > li + li {
      margin-left: @dls-nav-card-column-spacing;
    }
  }

  // card item
  &-card &-item {
    display: flex;
    align-items: center;

    &:hover {
      color: @dls-nav-item-font-color-hover;
    }

    &[data-focus-visible-added] {
      color: @dls-nav-item-font-color-focus;
      background-color: @dls-nav-item-background-color-focus;
    }

    &.@{veui-prefix}-nav-item-exact-active {
      color: @dls-nav-item-font-color-current;

      &:hover {
        color: @dls-nav-item-font-color-current-hover;
      }

      &[data-focus-visible-added] {
        color: @dls-nav-item-font-color-current-focus;
      }

      &:active {
        color: @dls-nav-item-font-color-current-active;
      }
    }
  }

  &-card &-item:not(&-item-title) {
    margin-top: @dls-nav-card-item-spacing;
  }

  // card item title
  &-item-title {
    color: @dls-nav-card-title-font-color;
    font-size: @dls-nav-card-title-font-size;
    font-weight: @dls-nav-card-title-font-weight;
  }

  &-card &-item-has-icon {
    // 有 icon 的特殊二级间隔
    & + ul {
      padding-left: dls-sum(
        @dls-nav-card-item-icon-size,
        @dls-nav-card-target-spacing
      );
    }
  }

  &-title-icon {
    margin-right: @dls-nav-card-target-spacing;
    .dls-icon-size(@dls-nav-card-item-icon-size, true);
  }

  &-overlay.@{veui-prefix}-option-group-box {
    & > .@{veui-prefix}-option-group-options,
    & > .@{veui-prefix}-option-group {
      transform-origin: 0 0;
    }
  }

  &-overlay.@{veui-prefix}-option-group-box.@{veui-prefix}-overlay-enter,
  &-overlay.@{veui-prefix}-option-group-box.@{veui-prefix}-overlay-leave-to {
    & > .@{veui-prefix}-option-group-options,
    & > .@{veui-prefix}-option-group {
      transform: scaleX(0);
    }
  }

  &-overlay .@{veui-prefix}-option-group-label &-item {
    // option-group-label 下的 link 盖满整个 item
    flex: 1;

    &::before {
      content: "";
      .absolute(0);
    }

    & + .@{veui-prefix}-option-group-expandable {
      position: relative;
    }

    &:not(.@{veui-prefix}-disabled) {
      &[data-focus-visible-added] {
        &,
        & + .@{veui-prefix}-option-group-expandable {
          color: @dls-nav-item-font-color-focus;
        }

        &::before {
          background-color: @dls-nav-item-background-color-focus;
        }
      }

      &:active {
        &,
        & + .@{veui-prefix}-option-group-expandable {
          color: @dls-nav-item-font-color-active;
        }
      }

      &.@{veui-prefix}-nav-item-active,
      &.@{veui-prefix}-nav-item-exact-active {
        &,
        & + .@{veui-prefix}-option-group-expandable {
          color: @dls-nav-item-font-color-current;
        }
      }

      &.@{veui-prefix}-nav-item-exact-active {
        &:hover {
          &,
          & + .@{veui-prefix}-option-group-expandable {
            color: @dls-nav-item-font-color-current-hover;
          }
        }

        &[data-focus-visible-added] {
          &,
          & + .@{veui-prefix}-option-group-expandable {
            color: @dls-nav-item-font-color-current-focus;
          }
        }
      }
    }
  }

  // option item
  &-overlay .@{veui-prefix}-option {
    .padding(_, 0);
    display: flex;
    align-items: stretch;

    .@{veui-prefix}-nav-item {
      .padding(_, @dls-option-padding-m);
      flex: 1;
      display: flex;
      align-items: center;

      &:not(.@{veui-prefix}-disabled) {
        &:hover {
          color: @dls-nav-item-font-color-hover;
        }

        &[data-focus-visible-added] {
          color: @dls-nav-item-font-color-focus;
          background-color: @dls-nav-item-background-color-focus;
        }

        &:active {
          color: @dls-nav-item-font-color-active;
        }

        &.@{veui-prefix}-nav-item-exact-active {
          color: @dls-nav-item-font-color-current;

          &:hover {
            color: @dls-nav-item-font-color-current-hover;
          }

          &[data-focus-visible-added] {
            color: @dls-nav-item-font-color-current-focus;
          }

          &:active {
            color: @dls-nav-item-font-color-current-active;
          }
        }
      }
    }
  }
}
