@import "../lib.less";

.@{veui-prefix}-overlay {
  display: none;

  &-box {
    .veui-transition(opacity);
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
  }
}
