@import "../lib.less";

.@{veui-prefix}-popover-box {
  @arrow-size: @dls-tooltip-arrow-width;
  @arrow-indent: @dls-popover-arrow-spacing;

  .@{veui-prefix}-tooltip {
    max-width: @dls-popover-max-width;
    line-height: @dls-popover-line-height;
    font-size: inherit;
    padding: 0;
    border: 0.1px solid transparent;

    .@{veui-prefix}-tooltip-content {
      overflow: auto;
      margin: @dls-popover-padding-y @dls-popover-padding-x;
    }
  }

  &[ui~="s"] {
    .@{veui-prefix}-tooltip {
      border-radius: @dls-popover-border-radius-s;
    }
  }

  &[ui~="m"] {
    .@{veui-prefix}-tooltip {
      border-radius: @dls-popover-border-radius-m;
    }
  }

  .make-align(top) {
    &::before,
    &::after {
      top: @arrow-indent + @arrow-size / 2;
    }
  }
  .make-align(right) {
    &::before,
    &::after {
      right: @arrow-indent + @arrow-size / 2;
      left: auto;
    }
  }
  .make-align(bottom) {
    &::before,
    &::after {
      top: auto;
      bottom: @arrow-indent + @arrow-size / 2;
    }
  }
  .make-align(left) {
    &::before,
    &::after {
      left: @arrow-indent + @arrow-size / 2;
    }
  }

  &.tether-element-attached-top.tether-target-attached-top
    .@{veui-prefix}-tooltip {
    .make-align(top);
  }

  &.tether-element-attached-right.tether-target-attached-right
    .@{veui-prefix}-tooltip {
    .make-align(right);
  }

  &.tether-element-attached-bottom.tether-target-attached-bottom
    .@{veui-prefix}-tooltip {
    .make-align(bottom);
  }

  &.tether-element-attached-left.tether-target-attached-left
    .@{veui-prefix}-tooltip {
    .make-align(left);
  }
}
