@import "../lib.less";

.@{veui-prefix}-progress {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: @dls-progress-font-color;
  .veui-transition(color);

  &-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;

    &::before {
      content: "\200b";
    }
  }

  &-bar {
    .@{veui-prefix}-progress-desc {
      margin-left: @dls-progress-track-spacing-bar;
      padding-right: @dls-progress-icon-spacing-bar;

      .@{veui-prefix}-progress-status-icon {
        .dls-icon-size(@dls-progress-icon-size-bar);
      }
    }

    .@{veui-prefix}-progress-rail {
      overflow: hidden;
      order: 0;
      background-color: @dls-progress-track-color;
    }

    &[ui~="fluid"] {
      display: flex;
      width: 100%;

      .@{veui-prefix}-progress-rail {
        flex-grow: 1;
      }
    }

    .make-size(@size) {
      @font-size: ~"dls-progress-font-size-@{size}";
      @bar-width: ~"dls-progress-width-bar-@{size}";
      @track-width: ~"dls-progress-track-width-@{size}";
      @border-radius: ~"dls-progress-border-radius-@{size}";

      font-size: @@font-size;

      .@{veui-prefix}-progress-rail {
        .size(@@bar-width, @@track-width);
      }

      .@{veui-prefix}-progress-rail,
      .@{veui-prefix}-progress-meter {
        border-radius: @@border-radius;
      }
    }

    &[ui~="m"] {
      .make-size(m);
    }

    &[ui~="s"] {
      .make-size(s);
    }

    &[ui~="xs"] {
      .make-size(xs);
    }

    .@{veui-prefix}-progress-meter {
      .size(100%);
      margin-left: -100%;
      background-color: @dls-progress-indicator-color;
      .veui-transition(transform, background-color);
    }
  }

  &-indeterminate &-rail {
    position: relative;
  }

  &-indeterminate&-bar &-meter {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    animation: veui-progress-loading 1s 0s infinite
      cubic-bezier(0.42, 0, 0.58, 1);
  }

  &-circular {
    .@{veui-prefix}-progress-circle {
      display: block;
      transform: rotate(-90deg);
    }

    .@{veui-prefix}-progress-rail {
      stroke: @dls-progress-track-color;
    }

    .@{veui-prefix}-progress-meter {
      stroke: @dls-progress-indicator-color;
      .veui-transition(stroke, stroke-dashoffset);
    }

    .make-size(@size) {
      @font-size: ~"dls-progress-font-size-circular-@{size}";
      @icon-size: ~"dls-progress-icon-size-circular-@{size}";

      .@{veui-prefix}-progress-desc {
        font-size: @@font-size;
      }

      .@{veui-prefix}-progress-status-icon {
        .dls-icon-size(@@icon-size);
      }
    }

    &[ui~="m"] {
      .make-size(m);
    }

    &[ui~="s"] {
      .make-size(s);
    }

    &[ui~="xs"] {
      .make-size(xs);
    }
  }

  &-circular &-desc {
    .absolute(0);
  }

  &-status {
    &-success:not(.@{veui-prefix}-progress-indeterminate) {
      .@{veui-prefix}-progress-meter {
        background-color: @dls-progress-indicator-color-success;
        stroke: @dls-progress-indicator-color-success;
      }

      .@{veui-prefix}-progress-status-icon {
        color: @dls-progress-icon-color-success;
      }
    }

    &-error {
      .@{veui-prefix}-progress-meter {
        background-color: @dls-progress-indicator-color-error;
        stroke: @dls-progress-indicator-color-error;
      }

      .@{veui-prefix}-progress-status-icon {
        color: @dls-progress-icon-color-error;
      }
    }
  }
}

@keyframes veui-progress-loading {
  0% {
    width: 10%;
    left: 0;
    transform: translateX(-100%);
  }

  100% {
    width: 20%;
    left: 100%;
    transform: translateX(0);
  }
}
