.veui-prompt-box {
  & &-info {
    margin-top: 0;
  }

  &-info {
    margin-bottom: 1em;
  }

  & &-input {
    width: 100%;

    &:first-child {
      margin-top: 1em;
    }
  }

  .veui-dialog-content-foot {
    padding-top: 40px;
  }
}
