@import "../lib.less";

.@{veui-prefix}-radio-group {
  display: flex;
  align-items: center;

  .@{veui-prefix}-radio {
    flex: none;
  }

  .@{veui-prefix}-radio + .@{veui-prefix}-radio {
    margin-left: @dls-radio-group-spacing;
  }
}
