@import "../lib.less";
@import (reference) "../dropdown.less";

.@{veui-prefix}-searchbox {
  display: inline-flex;
  position: relative;
  color: @dls-input-font-color;
  background-color: @dls-input-background-color;

  .@{veui-prefix}-input-has-after .@{veui-prefix}-input-main {
    .border-right-radius(@dls-input-border-radius-m);
  }

  .@{veui-prefix}-input {
    width: 100%;
    overflow: visible;

    &-main {
      width: @dls-input-width;
    }
    &-append {
      .@{veui-prefix}-input-clear {
        margin-right: 0;
      }
      .@{veui-prefix}-searchbox-action-icon {
        margin-left: @dls-input-content-spacing;
      }
    }
  }
  .@{veui-prefix}-input-focused {
    .@{veui-prefix}-input-main {
      z-index: 1;
    }
  }

  &-action {
    display: flex;
    white-space: nowrap;
    color: @dls-input-font-color;

    &-button.@{veui-prefix}-button {
      display: none;
      outline: none;
    }
  }

  &.@{veui-prefix}-readonly {
    background-color: @dls-input-background-color-read-only;
    border-color: @dls-input-border-color-read-only;
    color: @dls-input-font-color-read-only;

    .@{veui-prefix}-input-after {
      overflow: hidden;
    }

    .@{veui-prefix}-searchbox-action,
    .@{veui-prefix}-searchbox-action-icon {
      cursor: not-allowed;
      color: @dls-input-font-color-read-only;
    }
  }

  &.@{veui-prefix}-disabled {
    background-color: @dls-input-background-color-disabled;
    border-color: @dls-input-border-color-disabled;
    color: @dls-input-font-color-disabled;

    .@{veui-prefix}-input-after {
      overflow: hidden;
    }

    .@{veui-prefix}-searchbox-action,
    .@{veui-prefix}-searchbox-action-icon {
      cursor: not-allowed;
      color: @dls-input-font-color-disabled;
    }
  }

  &:not(.@{veui-prefix}-disabled):not(.@{veui-prefix}-readonly) {
    .@{veui-prefix}-searchbox-action:hover {
      color: @dls-input-font-color;
    }
  }

  &-suggestion-overlay {
    &:extend(._veui-dropdown-overlay all);
    overflow-y: auto;
    background-color: @dls-option-background-color;
  }

  .@{veui-prefix}-option {
    &:extend(._veui-dropdown-option all);
  }

  &[ui~="s"] {
    .@{veui-prefix}-input-has-after .@{veui-prefix}-input-main {
      .border-right-radius(@dls-input-border-radius-s);
    }
  }

  &[ui~="xs"] {
    .@{veui-prefix}-input-has-after .@{veui-prefix}-input-main {
      .border-right-radius(@dls-input-border-radius-xs);
    }
  }

  &[ui~="l"] {
    .@{veui-prefix}-input-has-after .@{veui-prefix}-input-main {
      .border-right-radius(@dls-input-border-radius-l);
    }
  }

  &[ui~="strong"] {
    .@{veui-prefix}-input-has-after {
      .@{veui-prefix}-input-main {
        .border-right-radius(0);

        .@{veui-prefix}-searchbox-action {
          display: none;
        }
      }
      .@{veui-prefix}-input-after {
        .border-left-radius(0);
        margin-left: -1px;

        .@{veui-prefix}-searchbox-action {
          .@{veui-prefix}-searchbox-action-button {
            display: block;
            .border-left-radius(0);
          }
        }
      }
    }
  }
}
