@import "../lib.less";
@import (reference) "../dropdown.less";

.veui-searchbox {
  display: inline-flex;
  position: relative;
  color: @dls-input-font-color;
  background-color: @dls-input-background-color;

  .veui-input-has-after .veui-input-main {
    .border-right-radius(@dls-input-border-radius-m);
  }

  .veui-input {
    width: 100%;
    overflow: visible;

    &-main {
      width: @dls-input-width;
    }
    &-append {
      .veui-input-clear {
        margin-right: 0;
      }
      .veui-searchbox-action-icon {
        margin-left: @dls-input-content-spacing;
      }
    }
  }
  .veui-input-focused {
    .veui-input-main {
      z-index: 1;
    }
  }

  &-action {
    display: flex;
    white-space: nowrap;
    color: @dls-input-font-color;

    &-button.veui-button {
      display: none;
      outline: none;
    }
  }

  &.veui-readonly {
    background-color: @dls-input-background-color-read-only;
    border-color: @dls-input-border-color-read-only;
    color: @dls-input-font-color-read-only;

    .veui-input-after {
      overflow: hidden;
    }

    .veui-searchbox-action,
    .veui-searchbox-action-icon {
      cursor: not-allowed;
      color: @dls-input-font-color-read-only;
    }
  }

  &.veui-disabled {
    background-color: @dls-input-background-color-disabled;
    border-color: @dls-input-border-color-disabled;
    color: @dls-input-font-color-disabled;

    .veui-input-after {
      overflow: hidden;
    }

    .veui-searchbox-action,
    .veui-searchbox-action-icon {
      cursor: not-allowed;
      color: @dls-input-font-color-disabled;
    }
  }

  &:not(.veui-disabled):not(.veui-readonly) {
    .veui-searchbox-action:hover {
      color: @dls-input-font-color;
    }
  }

  &-suggestion-overlay {
    &:extend(._veui-dropdown-overlay all);
    overflow-y: auto;
    background-color: @dls-option-background-color;
    .veui-searchbox-suggestion-matched {
      color: @dls-option-font-color-highlighted;
    }
  }

  .veui-option {
    &:extend(._veui-dropdown-option all);
  }

  &[ui~="s"] {
    .veui-input-has-after .veui-input-main {
      .border-right-radius(@dls-input-border-radius-s);
    }
  }

  &[ui~="xs"] {
    .veui-input-has-after .veui-input-main {
      .border-right-radius(@dls-input-border-radius-xs);
    }
  }

  &[ui~="l"] {
    .veui-input-has-after .veui-input-main {
      .border-right-radius(@dls-input-border-radius-l);
    }
  }

  &[ui~="strong"] {
    .veui-input-has-after {
      .veui-input-main {
        .border-right-radius(0);

        .veui-searchbox-action {
          display: none;
        }
      }
      .veui-input-after {
        .border-left-radius(0);
        margin-left: -1px;

        .veui-searchbox-action {
          .veui-searchbox-action-button {
            display: block;
            .border-left-radius(0);
          }
        }
      }
    }
  }
}
