@import "../lib.less";
@import (reference) "../dropdown.less";
@import (reference) "../input.less";

.veui-select {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: @dls-select-width;
  outline: none;

  &.veui-input-invalid .veui-select-input {
    &:extend(._veui-input-invalid all);
  }

  &:not(&-empty):not(&-expanded)
    .veui-input:not(.veui-input-focused)
    .veui-input-placeholder {
    color: @dls-input-font-color;
  }

  &&-readonly .veui-input-placeholder {
    color: @dls-input-font-color-read-only;
  }

  &.focus-visible .veui-input-main,
  &[data-focus-visible-added] .veui-input-main {
    .dls-focus-ring(@dls-input-border-color-focus, @dls-input-shadow-focus);
  }

  .veui-input-input {
    display: none;
  }

  &-searchable .veui-input-input {
    display: block;
  }

  &-trigger {
    .veui-input-prepend {
      flex-grow: 1;
      flex-shrink: 1;
      padding-right: 0;
      .ellipsis();
    }

    .veui-input-append {
      padding-left: @dls-select-content-spacing;
      color: @dls-font-color-weak;
    }

    .veui-input-main {
      max-width: 100%;
      cursor: pointer;
      .padding(_, @dls-select-padding-x);
    }

    .veui-input-input {
      cursor: inherit;
    }
  }

  &-input {
    width: 100%;

    input {
      width: 0;
    }
  }

  &-label {
    max-width: none;
    .ellipsis();

    .veui-readonly & {
      color: @dls-input-font-color-read-only;
    }

    .veui-disabled & {
      color: @dls-input-font-color-disabled;
    }
  }

  &-multi-input,
  &-search-multi-input {
    &.veui-input {
      height: auto;
    }

    .veui-input-main {
      min-width: 100%;
      display: block;
      overflow: hidden;
    }

    .veui-input {
      &-prepend {
        display: block;
        overflow: visible;

        .veui-tag {
          float: left;
          margin-right: @dls-select-tag-spacing;
          margin-top: @dls-select-padding-y;
        }

        .veui-select-placeholder {
          float: left;
          margin-top: @dls-select-padding-y;
        }
      }

      &-input {
        float: left;
        margin-top: @dls-select-padding-y;
      }

      &-append {
        float: right;
        margin: @dls-select-padding-y 0;
      }
    }
  }

  &-multi-input {
    input {
      width: 0;
      height: 0;
    }
  }

  &-search-multi-input {
    input {
      width: 10px;
      max-width: 100%;
    }
  }

  &-placeholder {
    color: @dls-input-placeholder-color;
  }

  &-count {
    margin-right: @dls-select-content-spacing;
  }

  &-icon {
    display: flex;
    position: relative;
  }

  &-toggle {
    .dls-icon-size(@dls-select-icon-size-aux);
    .veui-transition(transform, color, opacity);
    color: @dls-select-icon-color-aux;

    .veui-readonly &,
    .veui-disabled & {
      color: @dls-select-icon-color-aux-disabled;
    }
  }

  &:not(.veui-readonly):not(.veui-disabled):hover &-clear + &-toggle,
  .veui-input-focused &-clear + &-toggle,
  &-clear.focus-visible + &-toggle {
    opacity: 0;
  }

  &-expanded &-toggle {
    transform: rotateZ(180deg);
  }

  &-clear {
    .absolute(50%, 50%, _, _);
    transform: translate(50%, -50%);
    opacity: 0;
    z-index: 1;

    .veui-icon {
      .dls-icon-size(@dls-input-icon-size);
    }

    .veui-select:not(.veui-readonly):not(.veui-disabled):hover &,
    .veui-input-focused &,
    &.focus-visible {
      opacity: 1;
    }
  }

  &-options {
    &:extend(._veui-dropdown-overlay all);
    overflow-y: auto;
    background-color: @dls-option-background-color;
    outline: none;

    &-multiple .veui-option-selected {
      font-weight: @dls-font-weight-1;
    }
  }

  .make-metrics (@size) {
    @height: ~"dls-select-tag-height-@{size}";

    .veui-select-multi-input,
    .veui-select-search-multi-input {
      .veui-select-placeholder {
        line-height: @@height;
      }

      .veui-input-append {
        height: @@height;
      }

      .veui-tag {
        height: @@height;
      }
    }
    .veui-select-search-multi-input {
      input {
        height: @@height;
      }
    }
  }

  .make-metrics(m);

  &[ui~="xs"] {
    .make-metrics(xs);
  }
  &[ui~="s"] {
    .make-metrics(s);
  }
  &[ui~="l"] {
    .make-metrics(l);
  }
}
