@import "../lib.less";

.@{veui-prefix}-table {
  position: relative;
  overflow: hidden;
  border: 1px @dls-table-border-color;
  border-style: solid none;

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    white-space: nowrap;
  }

  &-main {
    overflow: auto;
  }

  &-cell {
    display: flex;
    line-height: @dls-line-height-m;
    align-items: center;
  }

  th,
  td {
    border: 1px @dls-table-border-color;
    text-align: left;
    .veui-transition(background-color, border-color);
  }

  thead th {
    border-bottom-style: solid;
    padding: @dls-table-header-padding-y @dls-table-header-padding-x;
    background-color: @dls-table-header-background-color;
    font-weight: @dls-table-header-font-weight;
    color: @dls-table-header-font-color;
  }

  &-cell-interactive:hover {
    background-color: @dls-table-header-background-color-hover;
  }

  td,
  tfoot th {
    border-top-style: solid;
    padding: @dls-table-cell-padding-y @dls-table-cell-padding-x;
    background-color: @dls-table-cell-background-color;
    color: @dls-table-cell-font-color;
  }

  tbody tr:first-child td {
    border-top-style: none;
  }

  &-bordered {
    border: 1px solid @dls-table-border-color;
    border-left-style: none;

    th,
    td {
      border-left-style: solid;
    }
  }

  &-no-data {
    height: @dls-table-body-height-no-data;
  }

  &-no-data &-cell {
    justify-content: center;
  }

  tr:hover {
    td {
      background-color: @dls-table-cell-background-color-hover;
    }

    .@{veui-prefix}-table-no-data {
      background-color: transparent;
    }
  }

  .@{veui-prefix}-link {
    line-height: 1;
  }

  .@{veui-prefix}-button,
  .@{veui-prefix}-link {
    & + .@{veui-prefix}-button,
    & + .@{veui-prefix}-link {
      margin-left: @dls-table-action-spacing;
    }
  }

  &-cell-center &-cell {
    justify-content: center;
  }

  &-cell-right &-cell {
    flex-flow: row-reverse;
  }

  &-cell-sticky-left,
  &-cell-sticky-right {
    position: sticky;
    z-index: 1;
  }

  &-overflow-shadow-right,
  &-overflow-shadow-left {
    .absolute(0, _);
    pointer-events: none;
    z-index: 2;
    .veui-transition(box-shadow);
  }

  &-overflow-shadow-edge {
    z-index: 3;
  }

  &-overflow-shadow-right {
    right: -20px;
    box-shadow: @dls-table-overflow-shadow-right;
  }

  &-overflow-shadow-left {
    left: -20px;
    box-shadow: @dls-table-overflow-shadow-left;
  }

  &-bordered &-overflow-shadow-left {
    left: -19px;
  }

  &-hit-right &-overflow-shadow-right,
  &-hit-left &-overflow-shadow-left {
    box-shadow: none;
  }

  &-bordered &-cell-sticky-left {
    &::after {
      content: "";
      .absolute(0, -1px, 0, _);
      width: 1px;
      background-color: @dls-table-border-color;
    }

  }

  & &-cell-hero {
    position: relative;
    z-index: 3;
    padding: 0;
  }

  &-cell-hero &-cell {
    position: sticky;
    right: 0;
    left: 0;
    padding: @dls-table-cell-padding-y @dls-table-cell-padding-x;
  }

  & &-cell-expand {
    .@{veui-prefix}-button {
      flex-grow: 0;
    }
  }

  &-expander {
    .veui-transition(transform);

    &-collapse {
      transform: rotate(180deg);
    }
  }

  & &-expander {
    .dls-icon-size(@dls-table-icon-size-aux);
  }

  &-header-icon {
    margin-left: @dls-table-cell-content-spacing;

    &-active {
      color: @dls-table-header-icon-color-activated !important;
    }

    .@{veui-prefix}-icon {
      .dls-icon-size(@dls-table-icon-size);
    }
  }

  &-cell-right &-header-icon {
    .margin(_, @dls-table-cell-content-spacing, _, 0);
  }

  &-sorter .@{veui-prefix}-icon {
    .veui-transition(transform);
  }

  &-sorter-reverse .@{veui-prefix}-icon {
    transform: rotate(180deg);
  }

  &-main,
  &-fixed-header,
  &-fixed-footer {
    width: 100%;
  }

  &-fixed-header,
  &-fixed-footer {
    position: relative;
    overflow: hidden;
  }

  &-fixed-header {
    box-shadow: @dls-table-overflow-shadow-top;
    z-index: 2;
  }

  &-fixed-footer {
    box-shadow: @dls-table-overflow-shadow-bottom;
  }

  &-hit-top &-fixed-header,
  &-hit-bottom &-fixed-footer {
    box-shadow: none;
  }

  &-sub-row {
    td {
      background-color: @dls-table-sub-row-background-color;

      &:hover {
        background-color: @dls-table-sub-row-background-color-hover;
      }
    }
  }

  &-gutter {
    thead & {
      border-left-color: @dls-table-header-background-color;
    }

    tbody &,
    tfoot & {
      border-left-color: @dls-table-cell-background-color;
    }
  }

  &-col-expand {
    width: dls-sum(
      @dls-table-icon-size-aux,
      @dls-table-header-padding-x * 2
    );
  }

  &-bordered &-col-expand {
    width: dls-sum(
      @dls-table-icon-size-aux,
      @dls-table-header-padding-x * 2,
      1px
    );
  }

  &[ui~="m"] {
    font-size: @dls-table-font-size-m;
    border-radius: @dls-table-border-radius-m;

    .@{veui-prefix}-table {
      &-col-select {
        width: dls-sum(@dls-checkbox-size-m, @dls-table-header-padding-x * 2);
      }

      &-bordered &-col-select {
        width: dls-sum(
          @dls-checkbox-size-m,
          @dls-table-header-padding-x * 2,
          1px
        );
      }
    }
  }

  &[ui~="s"] {
    font-size: @dls-table-font-size-s;
    border-radius: @dls-table-border-radius-s;

    .@{veui-prefix}-table {
      &-col-select {
        width: dls-sum(@dls-checkbox-size-s, @dls-table-header-padding-x * 2);
      }

      &-bordered &-col-select {
        width: dls-sum(
          @dls-checkbox-size-s,
          @dls-table-header-padding-x * 2,
          1px
        );
      }
    }
  }
}
