@import "../lib.less";

.@{veui-prefix}-table {
  position: relative;
  overflow: auto;
  border: 1px @dls-table-border-color;
  border-style: solid none;

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    white-space: nowrap;
  }

  &-cell {
    display: flex;
    line-height: @dls-line-height-m;
    align-items: center;
  }

  &-col-expand {
    width: 24px;
  }

  th,
  td {
    border: 1px @dls-table-border-color;
    text-align: left;
    .veui-transition(background-color, border-color);
  }

  thead th {
    border-bottom-style: solid;
    padding: @dls-table-header-padding-y @dls-table-header-padding-x;
    background-color: @dls-table-header-background-color;
    font-weight: @dls-table-header-font-weight;
    color: @dls-table-header-font-color;
  }

  &-cell-interactive:hover {
    background-color: @dls-table-header-background-color-hover;
  }

  td,
  tfoot th {
    border-top-style: solid;
    padding: @dls-table-cell-padding-y @dls-table-cell-padding-x;
    background-color: @dls-table-cell-background-color;
    color: @dls-table-cell-font-color;
  }

  tbody tr:first-child td {
    border-top-style: none;
  }

  &-bordered {
    border: 1px solid @dls-table-border-color;
    border-style: solid none solid solid;

    th,
    td {
      border-right-style: solid;
    }
  }

  td&-no-data {
    height: 300px;
    text-align: center;
  }

  tr:hover {
    td {
      background-color: @dls-table-cell-background-color-hover;
    }

    .@{veui-prefix}-table-no-data {
      background-color: transparent;
    }
  }

  .@{veui-prefix}-link {
    line-height: 1;
  }

  .@{veui-prefix}-button,
  .@{veui-prefix}-link {
    & + .@{veui-prefix}-button,
    & + .@{veui-prefix}-link {
      margin-left: @dls-padding-unit * 4;
    }
  }

  &-cell-center &-cell {
    justify-content: center;
  }

  &-cell-right &-cell {
    flex-flow: row-reverse;
  }

  & &-cell-expand {
    padding: 0 0 0 16px;

    & + th,
    & + td {
      padding-left: 8px;
    }

    .@{veui-prefix}-button {
      flex-grow: 0;
    }
  }

  &-cell-expand {
    button {
      .size(1em);
      background: none;
      outline: none;
      border: none;
      padding: 0;
      color: @veui-text-color-weak;
      cursor: pointer;
      vertical-align: middle;
      .veui-button-transition();

      &:hover,
      &.focus-visible {
        color: @veui-brand-color;
      }

      &.focus-visible {
        .veui-focus-shadow();
      }

      &:active {
        color: @veui-brand-color-1;
      }

      .@{veui-prefix}-icon {
        display: block;
      }
    }
  }

  &-expander {
    .veui-transition(transform);

    &-collapse {
      transform: rotate(180deg);
    }
  }

  & &-expander {
    .dls-icon-size(@dls-table-icon-size-aux);
  }

  &-header-icon {
    margin-left: @dls-table-cell-content-spacing;

    &-active {
      color: @dls-table-header-icon-color-activated !important;
    }

    .@{veui-prefix}-icon {
      .dls-icon-size(@dls-table-icon-size);
    }
  }

  &-cell-right &-header-icon {
    .margin(_, @dls-table-cell-content-spacing, _, 0);
  }

  &-sorter .@{veui-prefix}-icon {
    .veui-transition(transform);
  }

  &-sorter-reverse .@{veui-prefix}-icon {
    transform: rotate(180deg);
  }

  &-scrollable-y thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &-main {
    min-width: 100%;
  }

  &-sub-row {
    td {
      background-color: @dls-table-sub-row-background-color;

      &:hover {
        background-color: @dls-table-sub-row-background-color-hover;
      }
    }
  }

  &[ui~="m"] {
    font-size: @dls-table-font-size-m;
    border-radius: @dls-table-border-radius-m;

    .@{veui-prefix}-table {
      &-col-select {
        width: dls-sum(@dls-checkbox-size-m, @dls-table-header-padding-x * 2);
      }

      &-bordered &-col-select {
        width: dls-sum(
          @dls-checkbox-size-m,
          @dls-table-header-padding-x * 2,
          1px
        );
      }
    }
  }

  &[ui~="s"] {
    font-size: @dls-table-font-size-s;
    border-radius: @dls-table-border-radius-s;

    .@{veui-prefix}-table {
      &-col-select {
        width: dls-sum(@dls-checkbox-size-s, @dls-table-header-padding-x * 2);
      }

      &-bordered &-col-select {
        width: dls-sum(
          @dls-checkbox-size-s,
          @dls-table-header-padding-x * 2,
          1px
        );
      }
    }
  }
}
