@import "../lib.less";

.veui-tabs {
  @veui-tabs-height: @dls-tab-height-m;
  @veui-tabs-height-l: @dls-tab-height-l;
  @veui-tabs-height-s: @dls-tab-height-s;

  // TODO delete
  @veui-tabs-height-large: @dls-tab-height-l;
  @veui-tabs-block-height-large: @dls-tab-height-l;

  overflow: hidden;
  position: relative;
  font-size: @dls-tab-font-size-m;

  &-menu button {
    background: none;
    border: none;
    padding: 0;
  }

  &-menu {
    overflow: hidden;
    white-space: nowrap;
    min-height: @veui-tabs-height;

    &-moving {
      transition: margin-right 0.5s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: dls-sum(@veui-tabs-height, -1px);
      width: 100%;
      border-bottom: @dls-tab-container-border-width solid
        @dls-tab-container-separator-color;
    }
  }

  &-list {
    overflow: hidden;
    position: relative;
    display: inline-block;
    min-height: @veui-tabs-height;
    max-width: 100%;
    vertical-align: top;
    z-index: 1;
  }

  &-list-wrapper {
    display: inline-block;
    padding: 0;
    margin: 0;
    transform: translate(0);

    &-moving {
      transition: transform 0.5s ease-in-out;
    }
  }

  .make-margin-left(@margin) {
    margin-left: @margin;

    &:first-child {
      margin-left: 0;
    }
  }

  &-item {
    position: relative;
    display: inline-block;
    .make-margin-left(@dls-tab-spacing-x-m);
    vertical-align: top;

    // &.veui-tabs-item-removable {
    //   .make-margin-left(@veui-tabs-height);

    //   .veui-tabs-item-status {
    //     margin-right: 8px;
    //   }
    // }

    & > &-remove {
      visibility: hidden;
      color: @veui-text-color-weak;
      cursor: pointer;
      outline: none;
      .veui-button-transition();

      .veui-icon {
        display: block;
      }

      &::after {
        content: none;
      }

      &:hover,
      &.focus-visible {
        color: @veui-text-color-normal;
      }

      &.focus-visible {
        .veui-focus-shadow();
      }

      &:active {
        color: @veui-gray-color-1;
      }
    }

    &-remove:focus,
    &:hover > &-remove,
    &-label.focus-visible > &-remove {
      visibility: visible;
    }

    & > &-label {
      padding: 0 @dls-tab-padding-x-m;
      line-height: @veui-tabs-height;
      display: inline-block;
      text-decoration: none;
      outline: none;
      position: relative;

      &::before {
        content: "";
        .absolute(0, 0, 1px, 0);
        background-color: transparent;
        z-index: -1;
      }
    }

    &:not(.veui-tabs-item-disabled) > &-label {
      color: @dls-tab-font-color;

      &::after {
        content: "";
        .absolute(_, 0, 0, 0);
        height: @dls-tab-indicator-width;
        .veui-transition(background-color, height);
      }

      &.focus-visible {
        color: @dls-tab-font-color-focus;
        &::before {
          background-color: @dls-tab-background-color-focus;
        }
      }

      &:hover {
        cursor: pointer;
        color: @dls-tab-font-color-hover;
      }

      &:active {
        color: @dls-tab-font-color-active;
      }
    }

    &-active:not(.veui-tabs-item-disabled) > &-label {
      color: @dls-tab-font-color-current;

      &::after {
        background-color: @dls-tab-indicator-color;
      }

      &.focus-visible {
        color: @dls-tab-font-color-current-focus;
        &::after {
          background-color: @dls-tab-font-color-current-focus;
        }
      }

      &:hover {
        color: @dls-tab-font-color-current-hover;
        &::after {
          background-color: @dls-tab-font-color-current-hover;
        }
      }

      &:active {
        color: @dls-tab-font-color-current-active;
        &::after {
          background-color: @dls-tab-font-color-current-active;
        }
      }
    }

    &-disabled > &-label {
      cursor: not-allowed;
      color: @dls-tab-font-color-disabled;
    }
  }

  &-item-status {
    display: inline-block;
    width: 1em;
    margin-right: 12px;
    vertical-align: top;
    cursor: pointer;

    .veui-tabs-status(@type) {
      @color-name: ~"veui-@{type}-color";
      @color: @@color-name;

      color: @color;
    }

    &-success {
      .veui-tabs-status(success);
    }

    &-warning {
      .veui-tabs-status(warning);
    }

    &-info {
      .veui-tabs-status(info);
    }

    &-error {
      .veui-tabs-status(alert);
    }
  }

  &-extra {
    display: inline-block;
    position: absolute;
    top: 0;

    .veui-tabs-list-empty & :first-child {
      margin-left: 0;
    }
  }

  &-extra-tip {
    display: inline-block;
    line-height: 2.5;
    vertical-align: top;
    color: @veui-text-color-aux;
  }

  &-operator {
    display: inline-block;
    margin-left: 60px;
    line-height: 2.5;
    outline: none;
    cursor: pointer;

    .veui-icon {
      margin-right: 6px;
    }

    &[disabled] {
      &,
      &:hover {
        cursor: not-allowed;
        color: @veui-text-color-aux;
      }
    }
  }

  &-item-status .veui-icon,
  &-item-remove,
  &-operator .veui-icon {
    vertical-align: top;
    // 减掉的 1px 是底部的线
    margin-top: calc(@veui-tabs-height / 2 - 0.5em - 1px);
    user-select: none;
  }

  &-scroller {
    display: inline-block;
    line-height: 2.5;
    margin-left: 30px;

    &-left,
    &-right {
      display: inline-block;
      .size(2 * @veui-font-size-normal);
      background-color: @veui-gray-color-8;
      text-align: center;
      cursor: pointer;
      user-select: none;
      outline: none;

      &:hover,
      &.focus-visible {
        background-color: @veui-gray-color-5;
      }

      &:active {
        background-color: @veui-gray-color-3;
      }

      &[disabled] {
        background-color: #fff;
        color: @veui-text-color-weak;
        cursor: not-allowed;
      }
    }

    &-right {
      margin-left: 8px;
    }
  }

  &[ui~="block"] & {
    &-menu {
      &::after {
        display: none;
      }
    }

    &-list {
      height: ~"@{veui-height-normal}\9\0";
      border: 1px solid @veui-gray-color-6;

      .veui-tabs-list-empty& {
        border-width: 1px 0 1px 1px;
      }
    }

    &-item {
      overflow: hidden;
      .make-margin-left(0);
      border: 1px solid @veui-gray-color-6;
      border-width: 0 0 0 1px;
      background-color: #fff;
      cursor: pointer;

      &.veui-tabs-item-removable {
        padding-right: 12px;
        padding-right: 0\9\0;
      }

      &-moving.veui-tabs-item-removable,
      &.veui-tab-leave-active {
        transition: width 0.5s ease-in-out, transform 0.5s ease-in-out,
          padding-right 0.5s;
      }

      &.veui-tab-leave-active {
        z-index: -1;
      }

      &::after {
        display: none;
      }

      &:first-child {
        border-left-width: 0;
        margin-left: 0;
      }

      &:hover {
        background-color: @veui-gray-color-8;
      }

      &-label {
        min-width: 62px;
        max-width: 160px;
        line-height: dls-sum(@veui-tabs-height, -1px);
        padding: 0 8px 0 12px;
        .ellipsis();
        text-align: left;
        .veui-transition(background-color, box-shadow);

        &::after {
          display: none;
        }

        &.focus-visible {
          box-shadow: inset 0 0 0 2px fadeout(@veui-gray-color-3, 50%);
        }

        &:active {
          background-color: @veui-gray-color-6;
        }
      }

      &.veui-tabs-item-removable > .veui-tabs-item-label {
        padding-right: 8px;
      }

      &.veui-tabs-item-disabled {
        background-color: #fff;
        color: @veui-gray-color-4;
      }

      &.veui-tabs-item-active {
        background-color: @veui-gray-color-6;
      }
    }

    &-item-status .veui-icon,
    &-item-remove,
    &-operator .veui-icon,
    &-scroller .veui-icon {
      margin-top: calc(@veui-tabs-height / 2 - 0.5em);
      vertical-align: top;
    }

    &-extra {
      border-bottom: none;
      vertical-align: top;

      .veui-tabs-addable&::before {
        content: "";
        position: absolute;
        left: -1px;
        height: 100%;
        border-left: 1px solid @veui-gray-color-6;
        z-index: 1;
      }

      &-label {
        display: none;
      }
    }

    &-operator {
      margin-left: 0;
      margin-right: 20px;
      width: @veui-tabs-height;
      line-height: @veui-tabs-height;
      border: 1px solid @veui-gray-color-6;
      border-width: 1px 1px 1px 0;
      text-align: center;
      vertical-align: top;

      .veui-icon {
        margin-right: 0;
      }
    }

    &-scroller {
      line-height: @veui-tabs-height;

      &-left,
      &-right {
        .size(@veui-tabs-height);
        border: 1px solid @veui-gray-color-6;
        background-color: #fff;

        &:hover,
        &.focus-visible {
          background-color: @veui-gray-color-8;
        }

        &:active {
          background-color: @veui-gray-color-6;
        }

        &[disabled] {
          color: @veui-text-color-aux;
          background-color: #fff;
        }
      }
    }
  }

  &[ui~="l"][ui~="block"] & {
    &-item {
      &-label {
        line-height: @veui-tabs-block-height-large;
      }
    }

    &-item-status .veui-icon,
    &-item-remove,
    &-operator .veui-icon,
    &-scroller .veui-icon {
      margin-top: calc(@veui-tabs-block-height-large / 2 - 0.5em);
      vertical-align: top;
    }

    &-operator {
      width: @veui-tabs-height-large;
      line-height: @veui-tabs-block-height-large;
    }

    &-scroller {
      line-height: @veui-tabs-block-height-large;

      &-left,
      &-right {
        .size(@veui-tabs-height-large);
      }
    }
  }

  &[ui~="l"] {
    font-size: @dls-tab-font-size-l;
  }

  &[ui~="l"] & {
    &-menu {
      min-height: @veui-tabs-height-l;
      &::after {
        top: dls-sum(@veui-tabs-height-l, -1px);
      }
    }

    &-list {
      min-height: @veui-tabs-height-l;
    }

    &-item {
      .make-margin-left(@dls-tab-spacing-x-l);

      &-label {
        padding: 0 @dls-tab-padding-x-l;
        line-height: @veui-tabs-height-l;
      }
    }
  }

  &[ui~="s"] {
    font-size: @dls-tab-font-size-s;
  }

  &[ui~="s"] & {
    &-menu {
      min-height: @veui-tabs-height-s;
      &::after {
        top: dls-sum(@veui-tabs-height-s, -1px);
      }
    }

    &-list {
      min-height: @veui-tabs-height-s;
    }

    &-item {
      .make-margin-left(@dls-tab-spacing-x-s);

      &-label {
        padding: 0 @dls-tab-padding-x-s;
        line-height: @veui-tabs-height-s;
      }
    }
  }
}
