@import "../lib.less";

.@{veui-prefix}-tabs {
  @remove-icon-size: @dls-tab-icon-size-aux;

  position: relative;
  font-size: @dls-tab-font-size-m;
  line-height: @dls-line-height-1;

  &-menu {
    display: flex;
    position: relative;
    align-items: center;
    white-space: nowrap;
    height: @dls-tab-height-m;
    margin: 0 @dls-tab-menu-padding-normal;
  }

  &:not([ui~="borderless"]) > &-menu::before {
    content: "";
    .absolute(_, 0, 0);
    border-bottom: @dls-tab-container-border-width solid
      @dls-tab-container-separator-color;
  }

  &-list {
    display: flex;
    position: relative;
    max-width: 100%;
    flex-shrink: 1;
    align-self: stretch;

    button {
      background: none;
      border: none;
      padding: 0;
    }
  }

  &-overflow &-list {
    overflow: hidden;
  }

  &-extra {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .make-item-spacing(@variant, @size) {
    @spacing-name: ~"dls-tab-spacing-@{variant}-@{size}";
    @spacing: @@spacing-name;
    @padding-name: ~"dls-tab-padding-@{variant}-@{size}";
    @padding: @@padding-name;
    @min-width-name: ~"dls-tab-min-width-@{variant}-@{size}";
    @min-width: @@min-width-name;
    @max-width-name: ~"dls-tab-max-width-@{variant}-@{size}";
    @max-width: @@max-width-name;
    @half-spacing: @spacing / 2;
    @nav-spacing-name: ~"dls-tab-nav-spacing-@{variant}-@{size}";
    @nav-spacing: @@nav-spacing-name;

    &-item {
      margin: 0 @half-spacing;
      padding-left: @padding;
      padding-right: @padding;
      min-width: @min-width;
      max-width: @max-width;
    }

    &-item + .@{veui-prefix}-tabs-item when (@variant = simple) {
      margin-left: calc(@half-spacing + 1px);

      &::before {
        content: "";
        .absolute(50%, _, _, calc(-@half-spacing - 1px));
        transform: translateY(-50%);
        .size(1px, @dls-tab-separator-height-simple);
        background-color: @dls-tab-separator-color;
      }
    }

    &-item:first-child {
      margin-left: 0;
    }

    &-item-remove {
      .absolute(50%, calc(-@dls-tab-remove-spacing - @remove-icon-size), _, _);
    }

    &-tip,
    &:not(&-empty) &-add {
      margin-left: @half-spacing;
    }

    &-prev,
    &-next {
      .margin(_, @nav-spacing);
    }
  }

  &-prev,
  &-next {
    .@{veui-prefix}-icon {
      .dls-icon-size(@dls-tab-icon-size-aux);
    }
  }

  .make-item-spacing(normal, m);

  &-item {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-shrink: 0;

    &-label {
      line-height: @dls-line-height-1;
      .veui-transition(color);
    }

    & > &-label {
      display: flex;
      align-items: center;
      text-decoration: none;
      outline: none;
      position: relative;
      max-width: 100%;

      &::before {
        content: "";
        .absolute(0, 0, 1px, 0);
        background-color: transparent;
        z-index: -1;
        .veui-transition(background-color);
      }
    }

    &:not(.@{veui-prefix}-disabled) > &-label {
      color: @dls-tab-font-color;

      &::after {
        content: "";
        .absolute(_, 0, 0);
        height: @dls-tab-indicator-width;
        .veui-transition(background-color, height);
      }

      &:hover {
        cursor: pointer;
        color: @dls-tab-font-color-hover;
      }

      &[data-focus-visible-added] {
        color: @dls-tab-font-color-focus;

        &::before {
          background-color: @dls-tab-background-color-focus;
        }
      }

      &:active {
        color: @dls-tab-font-color-active;
      }
    }

    &-active:not(.@{veui-prefix}-disabled) > &-label {
      color: @dls-tab-font-color-current;

      &::after {
        background-color: @dls-tab-indicator-color;
      }

      &[data-focus-visible-added] {
        color: @dls-tab-font-color-current-focus;

        &::after {
          background-color: @dls-tab-font-color-current-focus;
        }
      }

      &:hover {
        color: @dls-tab-font-color-current-hover;

        &::after {
          background-color: @dls-tab-font-color-current-hover;
        }
      }

      &:active {
        color: @dls-tab-font-color-current-active;

        &::after {
          background-color: @dls-tab-font-color-current-active;
        }
      }
    }

    &.@{veui-prefix}-disabled > &-label {
      cursor: not-allowed;
      color: @dls-tab-font-color-disabled;
    }

    &-label-content {
      display: flex;
      align-items: center;
      max-width: 100%;
      .veui-transition(transform);

      .@{veui-prefix}-icon,
      .dls-icon {
        .dls-icon-size(@dls-tab-icon-size);
      }
    }

    &-label-ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-remove {
      transform: translateY(-50%) scale(0.5);
      opacity: 0;
      .veui-transition(transform, opacity);

      .@{veui-prefix}-icon {
        .dls-icon-size(@remove-icon-size);
      }
    }

    &-remove[data-focus-visible-added],
    &-removable &-label[data-focus-visible-added] + &-remove,
    &-removable:hover &-remove {
      opacity: 1;
      transform: translateY(-50%);
    }
  }
  // 拖拽时 hover 的 remove 按钮有时候奇怪出现，干掉
  &-list-dragging > &-item-removable &-item-remove {
    opacity: 0;
  }

  &-item-status {
    margin-left: @dls-tab-content-spacing;
    cursor: pointer;

    .veui-tabs-status(@type) {
      @color-name: ~"dls-foreground-color-@{type}-primary";
      @color: @@color-name;

      color: @color;
    }

    &-success {
      .veui-tabs-status(success);
    }

    &-warning {
      .veui-tabs-status(warning);
    }

    &-info {
      .veui-tabs-status(info);
    }

    &-error {
      .veui-tabs-status(error);
    }
  }

  // TODO Button 加个 ui variant
  &-add.@{veui-prefix}-button {
    flex: 0 0 auto;
    align-self: center;
    color: @dls-foreground-color-neutral-highlightable;

    &:hover {
      color: @dls-foreground-color-neutral-highlightable-hover;
    }

    &:active {
      color: @dls-foreground-color-neutral-highlightable-active;
    }

    &.@{veui-prefix}-disabled {
      color: @dls-foreground-color-neutral-highlightable-disabled;
    }
  }

  &-tip {
    color: @dls-foreground-color-neutral-weak;
  }

  &[ui~="l"] {
    font-size: @dls-tab-font-size-l;
  }

  &[ui~="l"] & {
    .make-item-spacing(normal, l);

    &-menu {
      height: @dls-tab-height-l;
    }
  }

  &[ui~="s"] {
    font-size: @dls-tab-font-size-s;
  }

  &[ui~="s"] & {
    .make-item-spacing(normal, s);

    &-menu {
      height: @dls-tab-height-s;
    }
  }

  &[ui~="simple"] & {
    .make-item-spacing(simple, s);

    &-menu {
      height: auto;

      &::before {
        content: none;
      }
    }

    &-item {
      & + .@{veui-prefix}-tabs-item {
        position: relative;
        .centered-line(
          dls-even(dls-line-height(@dls-line-height-1, @dls-font-size-1))
        );
      }

      &-label {
        &::after {
          content: none;
        }
      }
    }
  }

  &[ui~="simple"][ui~="s"] & {
    .make-item-spacing(simple, s);
  }

  &[ui~="simple"][ui~="l"] & {
    .make-item-spacing(simple, l);
  }

  [ui~="strong"]&-item {
    height: @dls-tab-height-m;
    margin: 0;

    .@{veui-prefix}-tabs-item {
      &-label {
        margin: @dls-tab-spacing-strong-m;
        padding: 0 @dls-tab-padding-strong-m;
        background-color: @dls-tab-background-color-strong;
        color: @dls-tab-font-color-strong;
        .border-top-radius(@dls-tab-border-radius-strong-m);
        .border-top-radius(10px);
        .veui-transition(color, background-color);

        &::before,
        &::after {
          content: "";
          .absolute(auto, auto, 0);
          background-color: inherit !important;
          width: @dls-tab-border-radius-strong-m;
          height: @dls-tab-border-radius-strong-m;
          transition: none !important;
        }

        @r: unit(@dls-tab-border-radius-strong-m);

        &::before {
          right: 100%;
          clip-path: path(
            "M @{r} 0 A @{r} @{r}, 0, 0, 1, 0 @{r} L @{r} @{r} Z"
          );
        }

        &::after {
          left: 100%;
          clip-path: path("M 0 0 A @{r} @{r}, 0, 0, 0, @{r} @{r} L 0 @{r} Z");
        }

        &:hover {
          z-index: 1;
          background-color: @dls-tab-background-color-strong-hover;
          color: @dls-tab-font-color-strong-hover;
        }

        &[data-focus-visible-added] {
          z-index: 1;
          background-color: @dls-tab-background-color-strong-focus;
          color: @dls-tab-font-color-strong-focus;
        }

        &:active {
          z-index: 1;
          background-color: @dls-tab-background-color-strong-active;
          color: @dls-tab-font-color-strong-active;
        }
      }

      &-remove {
        z-index: 2;
        @offset: dls-sum(
          @dls-tab-padding-strong-m,
          calc(@dls-tab-content-spacing * -0.5),
          calc(@remove-icon-size * -1)
        );
        right: @offset;
      }
    }

    &.@{veui-prefix}-disabled .@{veui-prefix}-tabs-item-label {
      &,
      &:hover,
      &[data-focus-visible-added],
      &:active {
        background-color: @dls-tab-background-color-strong-disabled;
        color: @dls-tab-font-color-strong-disabled;
      }
    }

    &-active {
      .@{veui-prefix}-tabs-item-label {
        z-index: 2;
        background-color: @dls-tab-background-color-strong-current;
        color: @dls-tab-font-color-strong-current;

        &:hover {
          background-color: @dls-tab-background-color-strong-current-hover;
          color: @dls-tab-font-color-strong-current-hover;
        }

        &[data-focus-visible-added] {
          background-color: @dls-tab-background-color-strong-current-focus;
          color: @dls-tab-font-color-strong-current-focus;
        }

        &:active {
          background-color: @dls-tab-background-color-strong-current-active;
          color: @dls-tab-font-color-strong-current-active;
        }
      }
    }
  }

  &[ui~="strong"] > & {
    &-menu {
      height: @dls-tab-menu-height-strong-m;
      .padding(
        dls-sum(@dls-tab-menu-height-strong-m, -@dls-tab-height-m),
        @dls-tab-menu-padding-strong-m,
        _
      );
      background-color: @dls-tab-menu-background-color-strong;
      .border-top-radius(@dls-tab-container-border-radius-strong-m);
      .border-top-radius(6px);

      &::before {
        content: none;
      }
    }

    &-menu > &-extra {
      margin-left: @dls-tab-nav-spacing-extra-strong-m;
    }

    &-menu > &-prev,
    &-menu > &-next {
      .margin(_, @dls-tab-nav-spacing-strong-m);
    }

    &-menu > &-prev {
      margin-left: dls-sum(
        @dls-tab-nav-spacing-strong-m,
        @dls-tab-menu-padding-strong-m * -1
      );
    }

    &-menu > &-next:last-child {
      margin-right: dls-sum(
        @dls-tab-nav-spacing-strong-m,
        @dls-tab-menu-padding-strong-m * -1
      );
    }

    &-panel {
      .clearfix();
      border: 1px solid @dls-tab-container-border-color-strong;
      border-top-style: none;
    }
  }

  &-overflow[ui~="strong"] .@{veui-prefix}-tabs-item {
    &:first-child .@{veui-prefix}-tabs-item-label::before,
    &:last-child .@{veui-prefix}-tabs-item-label::after {
      content: none !important;
    }
  }

  &-list-leave-to {
    opacity: 0;
  }

  &-list-move {
    .veui-transition(transform);
  }

  &-list-leave-active {
    height: 100%;
    position: absolute;
  }

  @data-drag-sort-snapshot: ~"[data-@{veui-prefix}-drag-sort-snapshot]";
  @{data-drag-sort-snapshot} {
    transform: translateZ(0);

    // 截图不要 strong 下面的角
    &[ui~="strong"].veui-tabs-item {
      & > .veui-tabs-item-label {
        &::after,
        &::before {
          width: 0 !important;
        }
      }
    }

    // 截图不要删除按钮和 simple 的间隔线
    .@{veui-prefix}-tabs-item-remove,
    &::before {
      transition-duration: 0ms;
      opacity: 0;
    }
  }

  // simple 的间隔线拖拽时保留
  &-item[ui~="simple"][data-veui-drag-sort-dragging-ghost] {
    visibility: visible !important;
    .@{veui-prefix}-tabs-item-label-content {
      visibility: hidden;
    }
  }
}
