@import "../lib.less";

.veui-tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  .make-metrics(m);
  .padding(0, @dls-tag-padding);
  border: 1px solid @dls-tag-border-color;
  color: @dls-tag-font-color;
  background-color: @dls-tag-background-color;
  white-space: nowrap;

  .make-metrics(@size) {
    @height: ~"dls-tag-height-@{size}";
    @radius: ~"dls-tag-border-radius-@{size}";
    @font-size: ~"dls-tag-font-size-@{size}";

    height: @@height;
    border-radius: @@radius;
    font-size: @@font-size;
  }

  &[ui~="s"] {
    .make-metrics(s);
  }

  &[ui~="no-border"] {
    border: none;
  }

  &-close {
    margin-left: @dls-tag-content-spacing;
  }

  &:hover {
    opacity: 0.8;
  }

  &.focus-visible {
    .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
  }

  &:active {
    background-color: @dls-tag-background-color-active;
    outline: none;
  }

  &-selectable {
    cursor: pointer;
  }

  &.veui-disabled {
    color: @dls-tag-font-color-disabled;
    border-color: @dls-tag-border-color-disabled;
    background-color: @dls-tag-background-color-disabled;
    outline: none;
    .veui-tag-close {
      cursor: not-allowed;
    }
  }

  &.veui-tag-selected {
    color: @dls-tag-font-color-selected;
    background-color: @dls-tag-background-color-selected;

    &.focus-visible {
      .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
    }
    &.veui-disabled {
      background-color: @dls-tag-background-color-selected-disabled;
    }
  }

  &[ui~="info"] {
    color: @dls-tag-font-color-info;
    border-color: @dls-tag-border-color-info;
    background-color: @dls-tag-background-color-info;

    &.focus-visible {
      .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
    }
    &.veui-disabled {
      color: @dls-color-info-3;
      border-color: @dls-color-info-2;
    }
    &.veui-tag-selected {
      color: @dls-tag-font-color-selected;
      background-color: @dls-color-info-6;

      &.focus-visible {
        .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
      }
      &.veui-disabled {
        background-color: @dls-color-info-2;
      }
    }
  }

  &[ui~="success"] {
    color: @dls-tag-font-color-success;
    border-color: @dls-tag-border-color-success;
    background-color: @dls-tag-background-color-success;

    &.focus-visible {
      .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
    }
    &.veui-disabled {
      color: @dls-color-success-3;
      border-color: @dls-color-success-2;
    }
    &.veui-tag-selected {
      color: @dls-tag-font-color-selected;
      background-color: @dls-color-success-6;

      &.focus-visible {
        .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
      }
      &.veui-disabled {
        background-color: @dls-color-success-2;
      }
    }
  }

  &[ui~="warning"] {
    color: @dls-tag-font-color-warning;
    border-color: @dls-tag-border-color-warning;
    background-color: @dls-tag-background-color-warning;

    &.focus-visible {
      .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
    }
    &.veui-disabled {
      color: @dls-color-warning-3;
      border-color: @dls-color-warning-2;
    }
    &.veui-tag-selected {
      color: @dls-tag-font-color-selected;
      background-color: @dls-color-warning-6;

      &.focus-visible {
        .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
      }
      &.veui-disabled {
        background-color: @dls-color-warning-2;
      }
    }
  }

  &[ui~="error"] {
    color: @dls-tag-font-color-error;
    border-color: @dls-tag-border-color-error;
    background-color: @dls-tag-background-color-error;

    &.focus-visible {
      .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
    }
    &.veui-disabled {
      color: @dls-color-error-3;
      border-color: @dls-color-error-2;
    }
    &.veui-tag-selected {
      color: @dls-tag-font-color-selected;
      background-color: @dls-color-error-6;

      &.focus-visible {
        .dls-focus-ring(@dls-tag-border-color-focus, @dls-tag-shadow-focus);
      }
      &.veui-disabled {
        background-color: @dls-color-error-2;
      }
    }
  }
}
