@import "../lib.less";

.veui-transfer {
  .clearfix();
  display: flex;

  &-selected-panel {
    margin-left: @dls-transfer-panel-spacing;
  }

  &-select-all,
  &-remove-all {
    margin-left: auto;
  }

  &-selected-flat {
    &-items {
      .reset-list-style();
      margin: 0;
      padding: 0;
      color: @dls-transfer-item-font-color;
    }

    &-item {
      padding: 0 @dls-transfer-padding-x;
      cursor: pointer;
      height: @dls-transfer-item-height-m;

      &:hover {
        background-color: @dls-transfer-item-background-color-hover;
        .veui-transition(background-color);
      }

      &:active {
        background-color: @dls-transfer-item-background-color-active;
        .veui-transition(background-color);
      }

      &:disabled {
        background-color: none;
      }

      &-label {
        .size(100%);
        display: flex;
        align-items: center;
      }

      &-hidden {
        display: none;
      }
    }

    &-option-separator {
      height: @dls-tree-icon-size;
    }

    &-icon-remove {
      display: none;
      .dls-icon-size(@dls-tree-icon-size-aux);
      margin-left: auto;
    }

    &-item:hover &-icon-remove {
      display: inline-block;
    }
  }

  // disabled 之后的样式
  &-disabled &-selected-flat-item {
    cursor: not-allowed;
  }

  &-disabled &-selected-icon-remove,
  &-disabled &-selected-flat-item-label {
    color: @dls-button-font-color-icon-disabled;
  }

  &.veui-input-invalid + .veui-field-error {
    .veui-field-gap-error();
    margin-left: @veui-form-label-width;
  }

  &[ui~="s"] {
    .veui-transfer-selected-flat-item {
      height: @dls-transfer-item-height-s;
    }
  }
}
