@import "../lib.less";

.veui-transfer {
  @panel-gap: 20px;
  @panel-inner-horizontal-gap: 20px;

  @flat-panel-min-width: 350px;
  @flat-item-line-height: 22px;
  @flat-item-right-gap: 20px;

  @remove-icon-size: 12px;

  .clearfix();
  display: inline-block;

  // 俩 panel 都左浮动
  .veui-filter-panel {
    float: left;

    &-title {
      display: flex;
      align-items: center;
      background: @dls-transfer-header-background-color;
      border-bottom: 1px solid @dls-transfer-border-color;
      margin: 0;
      padding: 0 @dls-transfer-padding-x;
      color: @dls-transfer-header-font-color;
    }

    .veui-searchbox {
      margin: 0;
      width: 100%;
    }
  }

  .veui-tree {
    margin-top: @dls-transfer-header-content-spacing-1;
  }

  &-candidate-panel {
    margin-right: @panel-gap;
  }

  .veui-filter-panel-content-main {
    position: relative;
  }

  &-select-all,
  &-remove-all {
    margin-left: auto;
  }

  &-selected-flat {
    width: @flat-panel-min-width;
    min-width: @flat-panel-min-width;

    &-items {
      .reset-list-style();
      margin: 0;
      padding: 0;
      color: @veui-text-color-normal;
    }

    &-item {
      padding: 0 @panel-inner-horizontal-gap;
      cursor: pointer;

      &:hover {
        background: @veui-gray-color-8;
      }

      &:active {
        background: @veui-gray-color-6;
      }

      &-label {
        @padding-vertical: (
            @dls-transfer-item-height-m - @flat-item-line-height
          ) / 2;
        padding: @padding-vertical 0;
        width: 100%;
        display: flex;
        align-items: center;
      }

      &-hidden {
        display: none;
      }
    }

    &-option-separator {
      display: inline-block;
      overflow: hidden;
      .centered-line(1em);
    }

    &-icon-remove {
      display: none;
      .size(@remove-icon-size);
      margin-left: auto;
    }

    &-item:hover &-icon-remove {
      display: inline-block;
    }
  }

  // disabled 之后的样式
  &-disabled &-selected-flat-item {
    cursor: not-allowed;
  }

  &-disabled &-selected-icon-remove,
  &-disabled &-selected-flat-item-label {
    color: @dls-transfer-item-font-color-disabled;
  }

  &.veui-input-invalid + .veui-field-error {
    .veui-field-gap-error();
    margin-left: @veui-form-label-width;
  }
}
