@import "./lib.less";
@import "./normalize.less";
@import (reference) "./link.less";

/* Overriding est variables */
@support-ie-version: 11;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: @dls-font-size-m;
  font-weight: @dls-font-weight-1;
  font-family: @dls-font-family;
  color: @dls-font-color-normal;
}

// only enable on Retina displays
@media screen and (min-resolution: 2dppx) {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: @dls-font-weight-2;
}

.@{veui-prefix}-disabled {
  cursor: not-allowed !important;
}

.@{veui-prefix}-sr-only {
  .veui-invisible();
}

a {
  &:extend(._veui-link all);
}
