@import "./lib.less";
@import "./normalize.less";
@import (reference) "./link.less";

/* Overriding est variables */
@support-ie-version: 11;

._veui-output-common(@selector) {
  @{selector} {
    font-size: @dls-font-size-m;
    font-weight: @dls-font-weight-1;
    font-family: @dls-font-family;
    color: @dls-font-color-normal;
  }

  // only enable on Retina displays
  @media screen and (min-resolution: 2dppx) {
    @{selector} {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
._veui-output-common(html) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ._veui-output-common-content();
}
._veui-output-common(@selector) when not (@selector = html) {
  @{selector} {
    &,
    * {
      &,
      &::before,
      &::after {
        box-sizing: border-box;
      }
    }
    ._veui-output-common-content();
  }
}

._veui-output-common(@veui-root-selector);

// common styles for content
._veui-output-common-content () {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: @dls-font-weight-2;
  }

  .@{veui-prefix}-disabled {
    cursor: not-allowed !important;
  }

  .@{veui-prefix}-sr-only {
    .veui-invisible();
  }

  a {
    &:extend(._veui-link all);
  }
}
