@import "./lib.less";

._veui-dropdown-overlay {
  .margin(@dls-option-dropdown-target-spacing, _);
  outline: none;
  .veui-transition(transform);
  transform-origin: 50% 0;
  box-shadow: @dls-option-dropdown-shadow;

  .veui-overlay-enter &,
  .veui-overlay-leave-to & {
    transform: scaleY(0);
  }

  .tether-element-attached-bottom.veui-overlay-enter-active &,
  .tether-element-attached-bottom.veui-overlay-leave-active & {
    transform-origin: 50% 100%;
  }

  &.veui-dropdown-overflow {
    &::before,
    &::after {
      content: "";
      height: 20px;
      pointer-events: none;
      transition: opacity @veui-transition-duration;
    }
    // &::before {
    //   .absolute(3px, 1px, 0);
    //   .vertical-gradient(#fff, transparent);
    // }

    // &::after {
    //   .absolute(_, 1px, 3px);
    //   .vertical-gradient(#fff, @dls-button-font-color-primary);
    // }

    &-scroll {
      &-start {
        &::before {
          opacity: 0;
        }
      }

      &-end {
        &::after {
          opacity: 0;
        }
      }
    }
  }
}

._veui-dropdown-button {
  & &-button {
    width: auto;
    .padding(_, @dls-button-padding-m);
  }

  &-label {
    width: 100%;
    .ellipsis();
  }

  &-icon {
    .veui-transition(transform);
  }

  &-expanded &-icon {
    transform: rotateZ(180deg);
  }

  &-button[ui~="primary"]:not(.veui-button-loading):disabled {
    background-color: @dls-button-background-color-primary-disabled;
    border-color: @dls-button-border-color-primary-disabled;
    color: @dls-button-font-color-primary-disabled;
  }

  &-expanded &-button.veui-button[ui~="primary"] {
    &,
    &:hover,
    &.focus-visible {
      color: @dls-button-font-color-primary;
      background-color: @dls-button-background-color-primary-hover;
    }

    &:active {
      background-color: @dls-button-background-color-primary-active;
    }
  }

  &-expanded &-button {
    &:not([ui~="text"]) {
      &,
      &:hover,
      &.focus-visible {
        color: @dls-button-font-color-normal;
        background-color: @dls-button-background-color-normal-hover;
      }

      &:active {
        background-color: @dls-button-background-color-normal-active;
      }
    }
  }
}

._veui-dropdown-option {
  .veui-button-transition();
  .ellipsis();
  display: flex;
  width: 100%;
  background-color: @dls-option-background-color;
  border: none;
  .padding(_, @dls-option-padding-m);
  color: @dls-option-font-color;
  text-align: left;
  outline: none;
  cursor: pointer;
  font-size: @dls-option-font-size-m;
  height: @dls-option-height-m;
  align-items: center;

  &[ui~="xs"] {
    font-size: @dls-option-font-size-xs;
    height: @dls-option-height-xs;
  }

  &[ui~="s"] {
    font-size: @dls-option-font-size-s;
    height: @dls-option-height-s;
  }

  &[ui~="l"] {
    font-size: @dls-option-font-size-l;
    height: @dls-option-height-l;
  }

  &.focus-visible,
  &:hover {
    background-color: @dls-option-background-color-hover;
  }

  &:active {
    background-color: @dls-option-background-color-active;
  }

  &-selected {
    color: @dls-option-font-color-selected;
    font-weight: @dls-option-font-weight-selected;
  }

  &-disabled {
    color: @dls-option-font-color-disabled;
    cursor: not-allowed;
  }
}
