@import "./lib.less";

._veui-input-invalid {
  border-color: @dls-input-border-color-error;
  color: @dls-input-font-color-error;

  &:hover {
    border-color: @dls-input-border-color-error-hover;
  }

  .@{veui-prefix}-focus& {
    .dls-focus-ring(
      @dls-input-border-color-error-focus,
      @dls-input-shadow-error-focus
    );
  }
}
