@font-face {
  font-family: "Baidu Number";
  font-weight: 500;
  src: url("https://cpdfe.cdn.bcebos.com/fonts/BaiduNumber-Medium.woff2")
      format("woff2"),
    url("https://cpdfe.cdn.bcebos.com/fonts/BaiduNumber-Medium.woff")
      format("woff");
}
