name: Renovate

on:
  schedule:
    - cron: '0/10 * * * *'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v29.27.0
        with:
          configurationFile: .renovaterc
          token: ${{ secrets.RENOVATE_TOKEN }}
