name: Test

on:
  push:
    branches: [ d20 ]
  pull_request:
    branches: [ d20 ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 6

      - name: Setup
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'pnpm'

      - name: Install
        run: pnpm install

      - name: Run test
        run: pnpm test

      - name: Collect coverage
        uses: codecov/codecov-action@v3
        with:
          directory: ./packages/veui/test/coverage
          fail_ci_if_error: true
